<div fxLayout="row" fxLayoutAlign="start end">
  <div [class]="getIconSpanClasses()">*</div>
  <div [class]="getSpanClasses()">
    <input autocomplete="off" [id]="boxId" [class]="getComponentClass()"
           appendTo="body" spellcheck="false" type="password" pInputText
           [disabled]="disabled" [matTooltip]="getTooltip()"
           [matTooltipClass]="currentTooltipClass"
           [(ngModel)]="innerValue" (onBlur)="onBoxBlur($event)"
           (onFocus)="onBoxFocus($event)" (click)="onBoxClick($event)"
           (ngModelChange)="onInnerCtrlChange()">
    <label *ngIf="label" class="psm-password-label" [for]="boxId">{{ label }}</label>
    <label *ngIf="isPasswordMasked" class="psm-maskedpassword-label">{{ passwordMask }}</label>
  </div>
</div>
