.psm-form {
  .psm-form-password-container {
    width: calc(100% - 10px);

    &>label {
      left: .75em;
    }

    &.psm-form-password-masked>label.psm-password-label {
      left: .25em;
      top: -0.75em;
      font-size: 12px;
    }

    &>input:focus~label,
    &>input.ui-state-filled~label,
    &>.ui-inputwrapper-focus~label,
    &>.ui-inputwrapper-filled~label {
      left: .25em;
    }

    &>input:focus~label.psm-maskedpassword-label,
    &>input.ui-state-filled~label.psm-maskedpassword-label,
    &>.ui-inputwrapper-focus~label.psm-maskedpassword-label,
    &>.ui-inputwrapper-filled~label.psm-maskedpassword-label {
      display: none;
    }

    .psm-form-password {
      display: block;
      width: 100%;
      height: 30px;
    }

    &.psm-invalid-box {
      input {
        border: 1px solid #e57553 !important;
      }

      input.ui-inputtext:focus {
        box-shadow: inset 5px 0 0 0 #e57553 !important;
      }

      .ui-state-filled~label {
        color: #e57553 !important;
      }
    }
  }
}
