<app-pagebody class="auditevents" header="Audit Events" [icon]="bodyicon">
  <!-- Since we are manually calculating table dimensions, whenever this panel changes
        state we need to recalculate the table -->
  <div *ngIf="displayArchPanel" fxFlex="auto" fxLayout="row"
       class="archive-status-outer-container">
    <div [ngSwitch]="requestStatus">
      <div *ngSwitchCase="'running'" class="archive-status-container">
        Archive Request "{{requestName}}" is {{requestStatus}}. Please wait for the request to
        complete.
        <!-- TODO: Hiding Cancel for now. Currently, CANCEL API is not ready; no cancel permission -->
        <!-- or click <span class="action-clickable"
              (click)="onCancelRecord($event)">Cancel</span> to cancel the request! -->
      </div>
      <div *ngSwitchCase="'completed'" class="archive-status-container">
        Archive Request "{{requestName}}" is {{requestStatus}}. Click <a class="action-clickable"
           (click)="$event.stopPropagation()"
           href="{{firstElem.status.uri !== undefined || firstElem.status.uri !== null ? firstElem.status.uri : ''}}">Download</a>
        to download the file!
      </div>
      <div *ngSwitchDefault class="archive-status-container">
        Archive Request "{{requestName}}" {{requestStatus}}!
      </div>
    </div>
  </div>
  <div fxLayout="row" style="height: 100%;">
    <app-penservertable #auditTable
                        (archiveQueryEmitter)="getArchiveQuery($event)"
                        [bodyTemplate]="bodyTemplate"
                        [captionTemplate]="captionTemplate"
                        [columns]="cols"
                        [createTemplate]="createTemplate"
                        [data]="dataObjects"
                        [expandTemplate]="expandTemplate"
                        [exportFilename]="exportFilename"
                        [exportMap]="exportMap"
                        [lazyLoad]="true"
                        (lazyLoadEvent)="fetchLazyDataObjects($event)"
                        [loading]="loading"
                        (rowClickEmitter)="showAuditEventDetail($event)"
                        [rowHeight]="36"
                        [searchable]="true"
                        (searchCancelledEmitter)="onCancelAuditSearch($event)"
                        [searchCols]="cols"
                        (searchEmitter)="getAuditEvents()"
                        [searchFormArray]="fieldFormArray"
                        searchKind="AuditEvent"
                        [totalRecords]="totalRecords">
    </app-penservertable>
  </div>
</app-pagebody>


<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div class="auditevents-caption" fxLayout="column">
    <div fxLayout="row" style="border-bottom: 1px solid #d9d9d9;">
      <app-tableheader title="Audit Events" [max]="maxRecords" [total]="totalRecords"
                       fxFlex="auto"
                       fxLayout="row"
                       [enableColumnSelect]="true" [icon]="headerIcon" [cols]="cols"
                       (columnSelectChange)="onColumnSelectChange($event)"
                       [lastUpdateTime]="lastUpdateTime" [showRefreshIcon]="true"
                       [showTotalHits]="true"
                       (refreshIconClick)="getAuditEvents()" class="audit-table-header">
      </app-tableheader>
    </div>
  </div>


</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      <div>
        {{rowData.meta['mod-time'] | PrettyDate }}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #expandTemplate let-rowData>
  <div class="auditevents-detail-div auditevents-rowexpand">
    <div class="auditevents-detail-header" fxLayout="row">
      <span class="auditevents-detail-header-title ui-flex" fxLayoutAlign="start center">Audit Event
        Detail:</span>
      <mat-icon class="auditevents-detail-close" [matTooltip]="'Close Audit Event Detail'"
                (click)="editFormClose(rowData)">close
      </mat-icon>
    </div>
    <div class="auditevents-detail-body">
      <pre>{{displayAuditEvent(rowData)}}</pre>
    </div>
  </div>
</ng-template>

<ng-template #createTemplate>
  <app-exportlogs (formClose)="creationFormClose()" [archiveQuery]="auditArchiveQuery"
                  queryType="AuditEvent" (archiveQueryEmitter)="getEmittedArchiveQuery($event)">
  </app-exportlogs>
</ng-template>
