<app-pagebody class="archiverequests" header="Archive Log Requests" [icon]="bodyicon">
  <app-pentable #archiveTable [actionTemplate]="actionTemplate" [bodyTemplate]="bodyTemplate"
                [captionTemplate]="captionTemplate" [columns]="cols" [data]="dataObjects"
                [enableCheckbox]="true" [expandTemplate]="expandTemplate"
                [exportFilename]="exportFilename" [exportMap]="exportMap"
                [loading]="tableLoading"
                [numRows]="25" [receiveSelectedDataUpdate]="true"
                (rowClickEmitter)="showArchiveQuery($event)" [rowHeight]="36"
                (selectedObjectsUpdateEmitter)="showBulkDeleteIcon()">
  </app-pentable>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <div class="archiverequests-caption" fxLayout="column">
    <app-tableheader title="Archive Logs" [total]="count" fxFlex="auto" fxLayout="row"
                     [tableMenuItems]="archiveTable.tableMenuItems" [enableColumnSelect]="true"
                     [cols]="cols"
                     (columnSelectChange)="onColumnSelectChange($event)" [icon]="headerIcon">
      <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
    </app-tableheader>
  </div>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center"
       *roleGuard="'monitoringarchiverequest_delete'">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon [ngClass]="{
                'global-multi-records-delete-icon': true,
                'global-button-disabled': !showBulkDeleteIcon()
              }"
              *ngIf="hasSelectedRows()"
              [matTooltip]="showBulkDeleteIcon() ? 'Delete selected archive log requests' : 'One or More Archive Requests are still Running'"
              (click)="handleDelete()">delete</mat-icon>
  </div>

</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'spec.query.start-time'">
      {{rowData.spec.query['start-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'spec.query.end-time'">
      {{rowData.spec.query['end-time'] | PrettyDate }}
    </ng-container>

    <ng-container *ngSwitchCase="'status.status'">
      <div *ngIf="!isArchiveCompleted(rowData, col)">
        {{displayColumn(rowData, col)}}
        <span *ngIf="timeoutOrFailure(rowData)"
              class="archive-status-reason">{{rowData.status.reason}}</span>
        <mat-icon *ngIf="timeoutOrFailure(rowData)"
                  fxFlex="nogrow" [inline]="true" [matTooltip]="rowData.status.reason"
                  class="global-alert-critical-icon archive-bad-icon">error</mat-icon>
        <a *ngIf="timeoutOrFailure(rowData) && triggerBuildDownloadZip(rowData) "
           class="archiverequests-download-file-link" (click)="$event.stopPropagation()"
           href="{{rowData._ui['archivelogsdownload']}}"
           [matTooltip]="'Download all available files'">Download Logs</a>
      </div>

      <div *ngIf="timeoutOrFailure(rowData)" [matTooltip]="displayMessage(rowData)">
        {{displayMessage(rowData)}}</div>

      <div *ngIf="isArchiveCompleted(rowData, col)" fxLayout="column">
        <div fxLayout="row"> Success </div>
        <a class="archiverequests-download-file-link" (click)="$event.stopPropagation()"
           href="{{rowData._ui['archivelogsdownload']}}"
           [matTooltip]="'Download all files'">Download Logs</a>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'spec.type'">
      <div class="archiverequests-log-types">{{displayColumn(rowData, col)}}
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <!-- TODO: Hiding Cancel for now. Currently, CANCEL API is not ready; no cancel permission -->
  <!-- <div class="global-column-action-icon-container  global-column-action-icon-container-archive_{{rowData.meta.name}}"
       fxLayout="row" fxLayoutGap="5px" *ngIf="showCancelIcon(rowData)">
    <mat-icon *roleGuard="'monitoringarchiverequest_delete'" matTooltip="Cancel Archive"
              class="global-table-action-icon"
              (click)="onCancelRecord($event, rowData)">cancel</mat-icon>
  </div> -->

  <div class="global-column-action-icon-container  global-column-action-icon-container-archive_{{rowData.meta.name}}"
       fxLayout="row" fxLayoutGap="5px" *ngIf="showDeleteIcon(rowData)">
    <mat-icon *roleGuard="'monitoringarchiverequest_delete'" matTooltip="Delete Archive"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData>
  <div class="archiverequests-detail-div">
    <div class="archiverequests-detail-header" fxLayout="row">
      <span class="archiverequests-detail-header-title ui-flex" fxLayoutAlign="start center">Archive
        Query:</span>
      <mat-icon class="archiverequests-detail-close" [matTooltip]="'Close Archive Detail'"
                (click)="editFormClose(rowData)">close
      </mat-icon>
    </div>
    <div class="archiverequests-detail-body">
      <pre>{{displayArchiveRequest(rowData)}}</pre>
    </div>
  </div>
</ng-template>
