<app-pagebody class="techsupportrequests" header="Tech Support Requests" [icon]="bodyicon">
  <app-pentable class="techsupportrequests-widget" #techsupportTable
                [actionTemplate]="actionTemplate" [bodyTemplate]="bodyTemplate"
                [captionTemplate]="captionTemplate"
                [columns]="cols" [createTemplate]="createTemplate" [data]="dataObjects"
                [enableCheckbox]="true" [expandTemplate]="expandTemplate"
                [exportFilename]="exportFilename" [exportMap]="exportMap"
                [loading]="tableLoading"
                [numRows]="25" [receiveSelectedDataUpdate]="true" [rowHeight]="36"
                (selectedObjectsUpdateEmitter)="showBulkDeleteIcon()">
  </app-pentable>
</app-pagebody>

<ng-template #createTemplate>
  <app-newtechsupport (formClose)="creationFormClose()" fxFlex="none"
                      [naples]="naples" [nodes]="nodes"
                      [existingTechSupportRequest]='dataObjects'>
  </app-newtechsupport>
</ng-template>

<ng-template #captionTemplate let-count="count">
  <div class="techsupport-caption" fxLayout="column">
    <app-tableheader title="Tech Supports" [total]="count" fxFlex="auto" fxLayout="row"
                     [tableMenuItems]="techsupportTable.tableMenuItems" [enableColumnSelect]="true"
                     [cols]="cols"
                     (columnSelectChange)="onColumnSelectChange($event)" [icon]="headerIcon">
      <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
    </app-tableheader>
  </div>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center"
       *roleGuard="'monitoringtechsupportrequest_delete'">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon [ngClass]="{
                'global-multi-records-delete-icon': true,
                'global-button-disabled': !showBulkDeleteIcon()
              }"
              *ngIf="hasSelectedRows()"
              [matTooltip]="showBulkDeleteIcon() ? 'Delete selected tech support requests' : 'One or More Tech-Support Requests are still Running'"
              (click)="onDeleteSelectedRows($event)">delete</mat-icon>
  </div>

</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'status.status'">

      <div *ngIf="!isTechsupportCompleted(rowData, col)">
        <span class="techsupport-running" *ngIf="!timeoutOrFailure(rowData)">
          {{displayColumn(rowData, col)}}
        </span>

        <span (click)="onFailureReasonClick(rowData)" class="techsupport-failure-msg"
              *ngIf="timeoutOrFailure(rowData)"
              [matTooltip]="'Click to see error message'">{{displayColumn(rowData, col)}} </span>
        <mat-icon *ngIf="timeoutOrFailure(rowData)"
                  fxFlex="nogrow" [inline]="true"
                  class="global-alert-critical-icon techsupport-bad-icon">error</mat-icon>
        <!-- vs-779 partial failure, let user download all available ts files -->
        <a *ngIf="timeoutOrFailure(rowData) && triggerBuildDownloaZip(rowData) "
           class="techsupportrequests-download-file-link" (click)="$event.stopPropagation()"
           href="{{rowData['techsupportdownload']['bundleAll']}}"
           [matTooltip]="'Download all available files'">Download</a>
      </div>
      <!-- <div *ngIf="timeoutOrFailure(rowData)" [matTooltip]="displayMessage(rowData)">
       hello {{displayMessage(rowData)}}
      </div> -->

      <div *ngIf="isTechsupportCompleted(rowData, col)" fxLayout="column">
        <div fxLayout="row"> success </div>
        <!--  download all ts output files in one bundle  -->
        <a class="techsupportrequests-download-file-link" (click)="$event.stopPropagation()"
           href="{{rowData['techsupportdownload']['bundleAll']}}"
           [matTooltip]="'Download all files'">Download all files</a>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'spec.node-selector'">
      <div class="techsupportrequests-selected-nodes">{{displayColumn(rowData, col)}}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container  global-column-action-icon-container-techsupport_{{rowData.meta.name}}"
       fxLayout="row" fxLayoutGap="5px" *ngIf="showDeleteIcon(rowData)">
    <mat-icon *roleGuard="'monitoringtechsupportrequest_delete'" matTooltip="Delete tech-support"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-col="col">
  <ng-container *ngIf="rowData['techsupportdownload'] != null">
    <div fxLayout="row">
      <div *ngFor="let v of rowData['techsupportdownload']['nicNodes']">
        <a class="techsupportrequests-download-file-link" href="{{v.url}}"
           [matTooltip]="'Download DSC tech-support files ' + v.name ">{{v.name}}</a>
      </div>
    </div>

    <div fxLayout="row">
      <div *ngFor="let v of rowData['techsupportdownload']['controlnodes']">
        <a class="techsupportrequests-download-file-link" href="{{v.url}}"
           [matTooltip]="'Download Controller tech-support file ' + v.name ">{{v.name}}</a>
      </div>
    </div>
  </ng-container>
</ng-template>
