<div fxFlex="auto" fxLayout="column" class="psm-form">
  <app-inlinebuttons class="new-dsc-profile" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="row" class="psm-form-content">
      <div fxFlex="none" fxLayout="column" [formGroup]="newObject.$formGroup">
        <div fxLayout="row" formGroupName="meta">
          <app-psmtextbox fxFlex="350px" label="DSC Profile Name" formControlName="name">
          </app-psmtextbox>
        </div>
        <div fxFlex="15px"></div>
        <div fxFlex="none" fxLayout="column" fxLayoutGap="15px" formGroupName="spec">
          <div fxFlex="none" fxLayout="row">
            <app-psmlistbox fxFlex="350px" [listStyle]="{'height':'100px'}"
                            label="Deployment Target" formControlName="deployment-target"
                            [options]="depolymentTargetOptions"
                            (change)="onDeploymentTargetChange()">
            </app-psmlistbox>
          </div>
          <div fxFlex="none" fxLayout="row">
            <app-psmlistbox fxFlex="350px" [listStyle]="{'height':'100px'}"
                            label="Feature Set" formControlName="feature-set"
                            [options]="getFeatureSetOptions()"
                            *ngIf="!isFieldEmpty(newObject.$formGroup.get(['spec', 'deployment-target']))">
            </app-psmlistbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <ng-template #feature_options>
  <fieldset [formGroup]="newObject.$formGroup">
    <legend>
      Configure DSC Mode
    </legend>
    <div fxFlex="100" fxLayout="row">
      <div fxFlex="50" fxLayout="column" class="new-dsc-profile-row">
        <div fxFlex="nogrow" class="fwdModeText">Forwarding Mode</div>
        <div class="newdscprofile-plist-div">
          <p-listbox #nodesListbox [options]="fwdModeOptions"
                     *ngIf="fwdModeOptions && fwdModeOptions.length>0"
                     [(ngModel)]="selectedFwdMode" checkbox="true" optionLabel="label"
                     [listStyle]="{'height':'100px'}"
                     (onChange)="setPolicyModeOptions($event)">
          </p-listbox>
        </div>
      </div>

      <div fxFlex="50" fxLayout="column" class="new-dsc-profile-row"
           *ngIf="policyModeOptions && policyModeOptions.length > 0">
        <div fxFlex="nogrow" class="polModeText">Policy Mode</div>
        <div class="newdscprofile-plist-div">
          <p-listbox #nodesListbox [options]="policyModeOptions"
                     *ngIf="policyModeOptions && policyModeOptions.length>0"
                     [(ngModel)]="selectedPolicyMode" checkbox="true" optionLabel="label"
                     [listStyle]="{'height':'100px'}">
          </p-listbox>
        </div>
      </div>

    </div>
  </fieldset>
</ng-template> -->
