.psm-form {
  .psm-form-calender-container {
    width: 100%;
    width: calc(100% - 10px);

    .psm-form-calender-box {
      display: block;
      width: 100%;

      span {
        width: 100%;

        input {
          height: 30px;
          font-size: 14px;
          width: calc(100% - 28px);
          border-radius: 0px !important;
        }

        .ui-calendar-button {
          margin-top: 0px;
          border-radius: 0px !important;

          .pi-calendar:before {
            position: relative;
            left: -5px;
          }
        }

      }
    }

    &.psm-invalid-box {
      input {
        border: 1px solid #e57553 !important;

        &:focus {
          box-shadow: inset 5px 0 0 0 #e57553 !important;
        }
      }

      .ui-inputwrapper-focus~label,
      .ui-state-filled~label {
        color: #e57553 !important;
      }
    }
  }
}

.pensando-ui {
  .ng-trigger.ui-datepicker {
    margin-top: 5px;
  }
}
