<div fxLayout="row" fxLayoutAlign="start end">
  <div [class]="getIconSpanClasses()">*</div>
  <div fxFlex="grow" [class]="getSpanClasses()">
    <p-calendar [id]="boxId" [class]="getComponentClass()"
                appendTo="body" [showTime]="true"
                [showIcon]="true" [disabled]="disabled"
                [styleClass]="componentStyleClass"
                [inputStyleClass]="componentInputStyleClass"
                [matTooltip]="getTooltip()"
                [matTooltipClass]="currentTooltipClass"
                [minDate]="minDate" [defaultDate]="defaultDate"
                [(ngModel)]="innerValue" (onBlur)="onBoxBlur($event)"
                (onFocus)="onBoxFocus($event)" (onClick)="onBoxClick($event)"
                (ngModelChange)="onInnerCtrlChange()">
    </p-calendar>
    <label *ngIf="label" [for]="boxId">{{ label }}</label>
  </div>
</div>
