<div class="rrhealthcard">
  <app-flip [flipState]="flipState">
    <ng-container flip-front *ngTemplateOutlet="cardFront"></ng-container>
  </app-flip>
</div>

<ng-template #cardFront>
  <app-basecard [title]="title"
                [backgroundIcon]="backgroundIcon"
                [themeColor]="themeColor"
                [icon]="icon"
                [timeRange]="''"
                [cardState]="cardState"
                [lastUpdateTime]="lastUpdateTime"
                [menuItems]="menuItems">
    <ng-container *ngIf="!loading && !isRRListNotConfigured">
      <div fxFlex="25%" fxLayout="column">
        <div fxFlex="nogrow" class="rrhealthcard-psm-status" fxLayoutAlign="center center"
             [matTooltip]="'Click to view PSM RR health summary'"
             (click)="showPSMHealthDialogBox()">
          {{getPSMHeatlhStatus()}}
        </div>
      </div>
      <div fxFlex="75%" class="rrhealthcard-bg" fxLayout="column">
        <div fxLayout="row">
          <div *ngFor="let item of routingHealthList">
            <ng-container *ngTemplateOutlet="nodeDetails ;context:{node: item}">
            </ng-container>
          </div>
        </div>
        <div fxLayout="row" class="rrhealthcard-alerts">
          <div fxFlex="100%" fxLayout="column">
            <div fxFlex="100%" fxLayout="row">
              <div class="rrhealthcard-alerts-text">Warning Alerts</div>
              <div fxFlex="1 0 auto"></div>
              <div class="rrhealthcard-alerts-number" *ngIf="this.alertCountMap['warn'] == 0">
                {{this.alertCountMap['warn']}}</div>
              <div class="rrhealthcard-alerts-number rrhealthcard-alerts-number-with-link"
                   *ngIf="this.alertCountMap['warn'] > 0" [matTooltip]="'Click to go to alert page'"
                   (click)="onAlertNumberClick($event, 'warn')">{{this.alertCountMap['warn']}}</div>
            </div>
            <div fxFlex="100%" fxLayout="row">
              <div class="rrhealthcard-alerts-text">Critical Alerts</div>
              <div fxFlex="1 0 auto"></div>
              <div class="rrhealthcard-alerts-number" *ngIf="this.alertCountMap['critical'] == 0">
                {{this.alertCountMap['critical']}}</div>
              <div class="rrhealthcard-alerts-number rrhealthcard-alerts-number-with-link"
                   *ngIf="this.alertCountMap['critical'] >0"
                   [matTooltip]="'Click to go to alert page'"
                   (click)="onAlertNumberClick($event, 'critical')">
                {{this.alertCountMap['critical']}}</div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!loading && isRRListNotConfigured">
      <div fxFlex="100%" fxLayout="column">
        <div fxFlex="nogrow">
          <div class="rrhealthcard-noRR-text1" fxLayoutAlign="center center">No Route Reflectors Set
            Up</div>
          <div class="rrhealthcard-noRR-text2" fxLayoutAlign="center center">health not available
          </div>
        </div>
      </div>
    </ng-container>
  </app-basecard>
</ng-template>

<ng-template #nodeDetails let-node="node">
  <div *ngIf="isNodeConfigured(node)" fxFlex="1 0 auto" fxLayout="column"
       class="rrhealthcard-spacing">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="start center">
      <div [matTooltip]="'Click to see RR status detail'"
           (click)="selectNodeAndShowDialog(node)">
        <mat-icon *ngIf="getNodeHealth(node)"
                  class="rrhealthcard-node-status-icon rrhealthcard-clickable-icon rrhealthcard-icon-healthy"
                  fxLayoutAlign="center center">
          lens
        </mat-icon>
        <mat-icon *ngIf="!getNodeHealth(node)"
                  class="rrhealthcard-node-status-icon rrhealthcard-clickable-icon rrhealthcard-icon-error"
                  fxLayoutAlign="center center">
          error
        </mat-icon>
      </div>
      <a [matTooltip]="'Navigate to node page'" routerLink="/cluster/cluster/{{node.meta.name}}"
         class="rrhealthcard-node-name">{{ node.meta.name }}</a>
    </div>
    <div fxFlex="100%" fxLayout="row" class="rrhealthcard-node-details">
      <div class="rrhealthcard-node-address">{{ node.status["router-id"] }}</div>
    </div>
    <div fxFlex="100%" fxLayout="row" class="rrhealthcard-node-details"
         fxLayoutAlign="start center">
      <div class="rrhealthcard-peer-text">EXTERNAL PEERS</div>
      <div fxFlex="1 0 auto"></div>
      <mat-icon *ngIf="getExternalPeerHealth(node)"
                class="rrhealthcard-icon rrhealthcard-icon-healthy" fxLayoutAlign="center center">
        lens
      </mat-icon>
      <mat-icon [matTooltip]="unhealthyPeerStatusMessage(node, 'external-peers')"
                *ngIf="!getExternalPeerHealth(node)"
                class="rrhealthcard-icon rrhealthcard-icon-error" fxLayoutAlign="center center">
        error
      </mat-icon>
    </div>
    <div fxFlex="100%" fxLayout="row" class="rrhealthcard-node-details"
         fxLayoutAlign="start center">
      <div class="rrhealthcard-peer-text">INTERNAL PEERS</div>
      <div fxFlex="1 0 auto"></div>
      <mat-icon *ngIf="getInternalPeerHealth(node)"
                class="rrhealthcard-icon rrhealthcard-icon-healthy" fxLayoutAlign="center center">
        lens
      </mat-icon>
      <mat-icon [matTooltip]="unhealthyPeerStatusMessage(node, 'internal-peers')"
                *ngIf="!getInternalPeerHealth(node)"
                class="rrhealthcard-icon rrhealthcard-icon-error" fxLayoutAlign="center center">
        error
      </mat-icon>
    </div>
  </div>
</ng-template>
