@import 'src/global-mixins';

.rrhealthcard {
  position: relative;
  margin: 10px;
  width: 450px;
  height: 240px;
}

.rrhealthcard-node-name {
  @include primary-font(18px, #676763, 400);
}

.rrhealthcard-node-address {
  @include primary-font(16px, rgba(103, 103, 99, 0.5), 400);
}

.rrhealthcard-node-details {
  margin-left: 24px;
}

.rrhealthcard-node-status-icon {
  font-size: 16px;
}

.rrhealthcard-icon {
  font-size: 14px;
}

.rrhealthcard-clickable-icon {
  cursor: pointer;
}

.rrhealthcard-icon-healthy {
  color: #77a746;
}

.rrhealthcard-icon-error {
  color: #dd3b09;
}

.rrhealthcard-peer-text {
  @include primary-font(14px, #676763, 400);
}

.rrhealthcard-spacing {
  margin: 10px 20px 15px 5px;
}

.rrhealthcard-alerts {
  margin: 0px 50px 10px 30px;

  .rrhealthcard-alerts-text {
    @include primary-font(14px, #676763, 400);
  }

  .rrhealthcard-alerts-number {
    @include primary-font(16px, #b592e3, 400);
  }

  .rrhealthcard-alerts-number.rrhealthcard-alerts-number-with-link {
    cursor: pointer;
  }
}

.rrhealthcard-dialog-header {
  @include primary-font(16px, #676763, 600);
  padding-right: 25px;
}

.rrhealthcard-dialog-content {
  @include primary-font(14px, #676763, 400);
}

.rrhealthcard-psm-status {
  @include primary-font(20px, #b592e3, 600);
  margin-top: 60px;
  padding-left: 10px;
  cursor: pointer;
}

.rrhealthcard-noRR-text1 {
  @include primary-font(24px, #b592e3, 600);
  margin-top: 35px;
}

.rrhealthcard-noRR-text2 {
  @include primary-font(16px, #676763, 400);
  margin-top: 6px;
}
