<div fxFlex="auto" fxLayout="column" class="psm-form newsecurityapp-container">
  <app-inlinebuttons class="new-securityapp" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start center"
       [class]="isInline? 'newsecurityapp-editform-inline' : ''">
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="center" class="psm-form-content">
      <ng-container *ngTemplateOutlet="newSecurityAppContent"></ng-container>
    </div>
  </div>
</div>

<ng-template #newSecurityAppContent>
  <div fxLayout="row" fxLayoutAlign="start" [formGroup]="newObject.$formGroup">
    <div fxLayout="column" fxLayoutAlign="start start">
      <div fxFlex="none" fxLayout="row" formGroupName="meta">
        <app-psmtextbox fxFlex="450px" label="Name" formControlName="name">
        </app-psmtextbox>
      </div>
      <div fxFlex="15px"></div>
      <div fxFlex="none" fxLayout="row">
        <app-psmradiobuttons fxFlex="450px" [formControl]="pickedOption"
                             [options]="secOptions" (change)="onPickedOptionChange()">
        </app-psmradiobuttons>
      </div>
      <ng-container [ngSwitch]="pickedOption.value">
        <ng-container *ngSwitchCase="securityOptions.PROTOCOLSANDPORTS ">
          <div fxFlex="none" fxLayout="row" fxLayoutAlign="start start">
            <ng-container *ngTemplateOutlet="protoandportsTemplate"></ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="securityOptions.ALGONLY ">
          <div fxFlex="none" fxLayout="row" fxLayoutAlign="start start">
            <ng-container *ngTemplateOutlet="algOnlyTemplate"></ng-container>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="securityOptions.BOTH">
          <div fxLayout="row wrap" class="new-securityapp-both-layout">
            <ng-container *ngTemplateOutlet="algOnlyTemplate"></ng-container>
            <div fxFlex="20px"></div>
            <ng-container *ngTemplateOutlet="protoandportsTemplate"></ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #protoandportsTemplate>
  <app-fieldcontainer fxFlex="440px" fieldTitle="Protocols and Ports">
    <app-listcontainer [formGroup]="securityForm.get(['spec', 'proto-ports'])"
                       [itemTemplate]="protoandportsRowTemplate" addText="Protocols and Ports"
                       [isInline]="isInline" (addItem)="addProtoTarget()"
                       (deleteItem)="removeProtoTarget($event)">
    </app-listcontainer>
  </app-fieldcontainer>
</ng-template>

<ng-template #protoandportsRowTemplate let-protoandports="item" let-index="index">
  <div fxLayout="row" [formGroup]="protoandports" fxLayoutAlign="start start">
    <app-psmtextbox fxFlex="200px" label="Protocol" formControlName="protocol"
                    [showRequired]="true" (change)="onProtocolChange(protoandports)">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
    <app-psmtextbox fxFlex="200px" label="Ports" formControlName="ports"
                    [showRequired]="isPortRequired(protoandports)">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
  </div>
</ng-template>

<ng-template #algOnlyTemplate>
  <app-fieldcontainer fxFlex="440px" fieldTitle="ALG">
    <div fxFlex="nogrow" fxLayout="column" [@slideInOut] fxLayoutAlign="start start"
         [formGroup]="securityForm.get(['spec','alg'])">
      <div fxLayout="row">
        <app-psmselectbox fxFlex="200px" label="Type" formControlName="type"
                          (change)="onTypeChange($event)" [options]="algOptions">
        </app-psmselectbox>
      </div>
      <div fxFlex="15px"></div>
      <div *ngIf="selectedType != null" fxLayout="row">
        <ng-container [ngSwitch]="selectedType">
          <ng-container *ngSwitchCase="algEnumOptions.icmp" formGroupName="icmp">
            <div fxLayout="row" [@slideInOut]>
              <app-psmnumberbox fxFlex="200px" label="ICMP Type" formControlName="type"
                                min="0" max="255" [convertToString]="true">
              </app-psmnumberbox>
              <div fxFlex="5px"></div>
              <app-psmnumberbox fxFlex="200px" label="ICMP Code" formControlName="code"
                                min="0" max="18" [convertToString]="true">
              </app-psmnumberbox>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="algEnumOptions.dns" formGroupName="dns">
            <div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="start start" [@slideInOut]>
              <div fxFlex="none" fxLayout="column">
                <div fxFlex="none" fxLayout="row">
                  <app-psmtoggle fxFlex="200px" label="Drop multi-question packets"
                                 formControlName="drop-multi-question-packets">
                  </app-psmtoggle>
                  <div fxFlex="5px"></div>
                  <app-psmtoggle fxFlex="200px" label="Drop large domain name packets"
                                 formControlName="drop-large-domain-name-packets">
                  </app-psmtoggle>
                </div>
                <div fxFlex="5px"></div>
                <div fxFlex="none" fxLayout="row">
                  <app-psmtoggle fxFlex="200px" label="Drop long label packets"
                                 formControlName="drop-long-label-packets">
                  </app-psmtoggle>
                </div>
                <div fxFlex="10px"></div>
                <div fxFlex="none" fxLayout="row">
                  <app-psmnumberbox fxFlex="200px" label="Max Message Length"
                                    formControlName="max-message-length" min="1" max="8129">
                  </app-psmnumberbox>
                  <div fxFlex="5px"></div>
                  <app-psmtextbox fxFlex="200px" label="Max Response Timeout"
                                  formControlName="query-response-timeout"
                                  [hintTooltip]="dnsTimeoutTooltip">
                  </app-psmtextbox>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="algEnumOptions.ftp" formGroupName="ftp">
            <div fxLayout="row" [@slideInOut]>
              <app-psmtoggle fxFlex="300px" label="Allow Mismatched IP address"
                             formControlName="allow-mismatch-ip-address">
              </app-psmtoggle>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="algEnumOptions.sunrpc" formGroupName="sunrpc">
            <div fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
              <app-listcontainer [formGroup]="securityForm.get(['spec', 'alg', 'sunrpc'])"
                                 [itemTemplate]="sunrpcRowTemplate" addText="SUNRPC"
                                 [isInline]="isInline"
                                 (addItem)="addSunRPCTarget()"
                                 (deleteItem)="removeSunRPCTarget($event)">
              </app-listcontainer>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="algEnumOptions.msrpc" formGroupName="msrpc">
            <div fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
              <app-listcontainer [formGroup]="securityForm.get(['spec', 'alg', 'msrpc'])"
                                 [itemTemplate]="msrpcRowTemplate" addText="MSRPC"
                                 [isInline]="isInline"
                                 (addItem)="addMSRPCTarget()"
                                 (deleteItem)="removeMSRPCTarget($event)">
              </app-listcontainer>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div fxFlex="10px"></div>
    </div>
  </app-fieldcontainer>
</ng-template>

<ng-template #sunrpcRowTemplate let-sunrpc="item" let-index="index">
  <div fxLayout="row" [formGroup]="sunrpc" fxLayoutAlign="start start">
    <app-psmtextbox fxFlex="200px" label="Program ID" formControlName="program-id"
                    [showRequired]="true">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
    <app-psmtextbox fxFlex="200px" label="Timeout" formControlName="timeout"
                    [hintTooltip]="ftpTimeoutTooltip">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
  </div>
</ng-template>

<ng-template #msrpcRowTemplate let-msrpc="item" let-index="index">
  <div fxLayout="row" [formGroup]="msrpc" fxLayoutAlign="start start">
    <app-psmtextbox fxFlex="200px" label="Program UUID" formControlName="program-uuid"
                    [showRequired]="true">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
    <app-psmtextbox fxFlex="200px" label="Timeout" formControlName="timeout"
                    [hintTooltip]="ftpTimeoutTooltip">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
  </div>
</ng-template>
