@import 'src/import-mixins';

.newsecurityapp-container {
  app-fieldcontainer {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 1160px) {
  .menufullopened .newsecurityapp-container .new-securityapp-both-layout {
    width: 450px;
  }
}

@media only screen and (max-width: 1020px) {
  .menupartialopened .newsecurityapp-container .new-securityapp-both-layout {
    width: 450px;
  }
}

@media only screen and (max-width: 940px) {
  .menuclosed .newsecurityapp-container .new-securityapp-both-layout {
    width: 450px;
  }
}

@include adjust-inlinebuttons-boundry(1024, newsecurityapp-editform-inline);
