@import 'src/import-mixins';

#networkgraph-graph {
  background-size: 10px 10px;
  background-color: rgb(250, 250, 250);
  background-image: linear-gradient(to right, white 1px, transparent 1px), linear-gradient(to bottom, white 1px, transparent 1px);
}

$healthy: #a3d771;
$neutral: #a4c7f0;
$error: #e57553;
$label: #6ba0e5;

.networkgraph-sourcelink {
  stroke: $neutral;
  fill: #e1efff;
}

/* Workload Source */
.networkgraph-node-workloadSource {
  stroke: $neutral;
  fill: #e1efff;
}

.networkgraph-node-workloadSource-label {
  @include primary-font(16px);
  fill: $label;
}

.networkgraph-node-workloadSource-label-secondary {
  @include primary-font(16px, $label, bold);
  fill: $label;
}

/* Workload Destination */
.networkgraph-node-workloadDestination {
  stroke: $neutral;
  fill: #e1efff;
}

.networkgraph-node-workloadDestination-label {
  @include primary-font(16px);
  fill: $label;
}

.networkgraph-node-workloadDestination-label-secondary {
  @include primary-font(16px, $label, bold);
  fill: $label;
}

/* Security Group */
.networkgraph-node-securityGroup {
  stroke: #b7d594;
  fill: #e2f2d0;
}

.networkgraph-node-securityGroup-label {
  @include primary-font(12px);
}

/* Security Rule*/
.networkgraph-node-rule {
  stroke: #b7d594;
  fill: #e2f2d0;
}

.networkgraph-node-rule-label {
  @include primary-font(12px);
}

.networkgraph-node-rule-label-secondary {
  @include primary-font(16px, $label, bold);
}

/* Security Policy */
.networkgraph-node-securityPolicy {
  stroke: #c1c1c1;
  fill: #dddddd;
}

.networkgraph-node-securityPolicy.networkgraph-nodestate-pulsing {
  stroke: $error;
}

.networkgraph-node-securityPolicy-label {
  @include primary-font(12px);
}

/* Naples */
.networkgraph-node-naples {
  stroke: #e2bd02;
  fill: #ffef9b;
}

.networkgraph-node-naples-label {
  @include primary-font(16px);
  fill: $label;
}

/* Network */
.networkgraph-node-network {
  stroke: #a5d9b7;
  fill: #def5e6;
}

/* Empty */
.networkgraph-node-empty-label {
  @include primary-font(12px, $label, italic);
}

.networkgraph-node-empty-label-secondary {
  @include primary-font(14px);
}

/* Link States */
.networkgraph-linkstate-healthy {
  stroke: $healthy;
  stroke-width: 2px;
}

.networkgraph-linkstate-neutral {
  stroke: $neutral;
  stroke-width: 2px;
}

.networkgraph-linkstate-error {
  stroke: $error;
  stroke-width: 2px;
}

/* Node States */
.networkgraph-nodestate-unknown {
  fill: transparent;
  stroke: #dddddd;
  stroke-dasharray: 5, 5;
  stroke-width: 3px;
}

.networkgraph-nodestate-error {
  stroke: $error;
}

/* Marker colors */
.networkgraph-marker-healthy {
  fill: $healthy;
}

.networkgraph-marker-error {
  fill: $error;
}
