<div fxLayout="row" fxLayoutAlign="start end">
  <div [class]="getIconSpanClasses()">*</div>
  <div [class]="getSpanClasses()">
    <input autocomplete="off" [id]="boxId" appendTo="body" [class]="getComponentClass()"
           spellcheck="false" type="text" pInputText
           [disabled]="disabled" [matTooltip]="getTooltip()"
           [matTooltipClass]="currentTooltipClass"
           [(ngModel)]="innerValue" (onBlur)="onBoxBlur($event)"
           (onFocus)="onBoxFocus($event)" (click)="onBoxClick($event)"
           (ngModelChange)="onInnerCtrlChange()">
    <label *ngIf="label" [for]="boxId">{{ label }}</label>
  </div>
</div>
