<app-pagebody header="Cluster Overview" [icon]="bodyicon" [transparent]="true">
  <div fxFlex="none" fxLayout="column">
    <div fxFlex="none" fxLayout="row wrap" fxLayoutGap="10px"
         class="cluster-stats-charts-container">
      <div fxFlex="none" class="detail-card-wrapper" fxLayout="column">
        <div class="detail-card-border"></div>
        <ng-container *ngTemplateOutlet="nodeTable"></ng-container>
        <div class="detail-card-border margin-top-auto"></div>
      </div>
      <div fxFlex="none" class="detail-card detail-card-wrapper cluster-stats-container"
           fxLayout="column">
        <div class="detail-card-border"></div>
        <app-cpu-memory-storage-stats *ngIf="clusterLoaded"
                                      [heroCards]="heroCards" [lastUpdateTime]="lastUpdateTime">
        </app-cpu-memory-storage-stats>
        <div class="detail-card-border"></div>
      </div>
      <div class="detail-card detail-card-wrapper cluster-chart-container" fxFlex=""
           fxLayout="column">
        <div class="detail-card-border"></div>
        <app-telemetrychartview class="cluster-chart-item"
                                fxFlex="nogrow"
                                [hideEditButtons]="true"
                                [selectedTimeRange]="selectedTimeRange"
                                [chartConfig]="graphConfig">
        </app-telemetrychartview>
        <div class="detail-card-border"></div>
      </div>
    </div>
  </div>
  <div *roleGuard="{opt: ['monitoringAlert_read', 'eventsevent_read']}"
       class="cluster-alertsevents-container">
    <div class="detail-card-wrapper">
      <div class="detail-card" fxLayout="column">
        <div class="detail-card-border"></div>
        <app-shared-alertsevents></app-shared-alertsevents>
        <div class="detail-card-border"></div>
      </div>
    </div>
  </div>
</app-pagebody>

<ng-template #nodeTable>
  <div fxFlex="none" fxLayout="column" class="detail-card cluster-node-table-container">
    <div fxFlex="none" fxLayout="column">
      <div fxFlex="none" class="cluster-details-title">
        Cluster Detail
        <mat-icon matTooltip="Update Cluster Detail" class="global-table-action-icon"
                  (click)="showUpdateCluster()" *roleGuard="'clustercluster_update'">edit
        </mat-icon>
      </div>
      <div fxFlex="none" fxLayout="row">
        <!-- Field titles -->
        <div fxFlex="50" fxLayout="column">
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Virtual IP:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Name:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Creation time:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Last Leader Transition Time:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Auto Admit DSCs:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxLayout="row"
               fxLayoutAlign="start start">
            <div>NTP Servers:</div>
          </div>
        </div>
        <!-- Values -->
        <div fxFlex="none" fxLayout="column">
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-virtual-ip">{{ cluster?.spec['virtual-ip'] }}</div>
          </div>
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-cluster-name">
              {{ cluster?.meta.name }}</div>
          </div>
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-cluster-name">
              {{ cluster?.meta['creation-time'] | PrettyDate }}</div>
          </div>
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-last-leader-transition-time">
              {{ cluster?.status['last-leader-transition-time'] | PrettyDate }}</div>
          </div>
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-auto-admit-nics">
              {{ (cluster?.spec['auto-admit-dscs'] === true) ? 'yes' : 'no' }}</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" class="cluster-node-value">
            <div class="cluster-details-panel-ntp-servers"
                 [innerHTML]="cluster?.spec['ntp-servers'].join('<br>')"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="cluster-node-fieldtitle" fxLayout="row">
      <div>Nodes:</div>
    </div>
    <div>
      <p-table styleClass="cluster-details-nodes-table"
               [value]="nodes"
               *roleGuard="'clusterNode_read'">
        <ng-template pTemplate="header">
          <tr>
            <th class="nodename">Name</th>
            <th>Quorum</th>
            <th>Phase</th>
            <th *featureGuard="'enterprise'">Condition</th>
            <th class="cluster-details-node-rrstatus" *ngIf="showRRStatusColumn()"
                [matTooltip]="'Configurable Services'">Services</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-node>
          <tr>
            <td class="nodename">
              <div class="cluster-details-nodes-table-cell" fxLayout="row"
                   fxLayoutAlign="start center">
                <span class="cluster-node-status" [ngClass]="getNodeStatusClass(node)"></span>
                <a routerLink="./{{node.meta.name}}">{{node.meta.name}}</a>
                <mat-icon fxFlex="none" *ngIf="cluster.status.leader === node.meta.name"
                          class="cluster-node-star" title="Leader">star_rate</mat-icon>
              </div>
            </td>
            <td>
              <div class="cluster-details-nodes-table-cell">{{ node?.status?.quorum }}</div>
            </td>
            <td class="cluster-phase_column">
              <div class="cluster-details-nodes-table-cell" fxLayout="row"
                   fxLayoutAlign="start center">
                <span class="cluster-phase-name">
                  {{ phaseEnum[node.status.phase] }}
                </span>
                <ng-container *ngIf="node?.status?.conditions[0].status === 'false'">
                  <span [matTooltip]="'Node Status: Unhealthy'"
                        class="cluster-phase-caution"></span>
                </ng-container>
                <ng-container *ngIf="node?.status?.conditions[0].status === 'unknown'">
                  <span [matTooltip]="'Node Status: Unknown'"
                        class="cluster-phase-caution"></span>
                </ng-container>
              </div>
            </td>
            <td *featureGuard="'enterprise'">
              <div class="cluster-details-nodes-table-cell">{{ displayCondition(node) }}</div>
            </td>
            <td class="cluster-details-node-rrstatus" *ngIf="showRRStatusColumn()">
              <div class="cluster-details-nodes-table-cell" fxLayout="row"
                   fxLayoutAlign="start center">
                <ng-container *ngFor="let item of routinghealthlist">
                  <ng-container *ngIf="isNodeConfigured(item) && item._ui.node === node.meta.name">
                    <img class="cluster-node-service-RR" [matTooltip]="'Route reflector process'"
                         src="/assets/images/icons/ico_rr_badge.svg" />
                    <span class="cluster-node-RR-id"
                          [matTooltip]="'Click to see routing health detail.'"
                          (click)="onRRStatusNodeClick($event, node, item)">{{ item.meta.name }}</span>
                    <ng-container *ngIf="isRoutingHealthNodeHealthy(item)">
                      <span [matTooltip]="'Healthy!'"
                            class="cluster-node-status cluster-node-status-RR-common cluster-node-status-RR-healthy"></span>
                    </ng-container>
                    <ng-container *ngIf="!isRoutingHealthNodeHealthy(item)">
                      <span [matTooltip]="'Unhealthy! Please check routing service.'"
                            class="cluster-node-status cluster-node-status-RR-common cluster-node-status-RR-unhealthy"></span>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</ng-template>
