<div fxLayout="column" class="psm-form new-eventpolicy-container">
  <app-inlinebuttons class="new-eventpolicy" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start"
       [class]="isInline? 'new-eventpolicy-editform-inline' : ''">
    <div fxLayout="row" fxLayoutAlign="center" class="psm-form-content">
      <div fxFlex="none" fxLayout="column" [formGroup]="newObject.$formGroup">
        <div fxFlex="nogrow" fxLayout="row" formGroupName="meta">
          <app-psmtextbox class="neweventpolicy-name" fxFlex="300px" label="Name"
                          formControlName="name"></app-psmtextbox>
        </div>
        <div fxFlex="10px"></div>
        <div fxFlex="noshrink" fxLayout="row">
          <app-syslog #syslogComponent fxFlex="nogrow" fxLayout="column"
                      [isInline]="isInline" [maxTargets]="maxTargets"
                      targetTransport="<TCP/UDP>/<port>"
                      [syslogExport]="newObject.$formGroup.get(['spec']).value">
          </app-syslog>
        </div>
      </div>
    </div>
  </div>
</div>
