<div
     [ngStyle]="themeCss"
     [ngClass]="gradTheme ? 'basecard-container-new' : 'basecard-container-old'"
     (mouseenter)="hasHover = true"
     (mouseleave)="hasHover = false">
  <div [@fade] *ngIf="backgroundIcon" class="basecard-background" fxLayout="row"
       [fxLayoutAlign]="backgroundIconCentered ? 'center center' : 'start center'">
    <mat-icon fxFlex="none" *ngIf="backgroundIcon.svgIcon" [style.color]="themeColor"
              [svgIcon]="backgroundIcon.svgIcon"
              class="basecard-background-icon">
    </mat-icon>
    <mat-icon fxFlex="none" *ngIf="backgroundIcon.matIcon" [style.color]="themeColor"
              class="basecard-background-mat-icon">
      {{backgroundIcon.matIcon}}
    </mat-icon>
  </div>
  <div [ngClass]="gradTheme ? 'detail-card-border' : ''"></div>
  <div [@loaded]="cardState === cardStates.READY" class="basecard-foreground" fxLayout="column">
    <!-- Icon bar -->
    <app-dsbdwidgetheader fxFlex="45px" fxLayout="row" [title]="title" [iconFillColor]="themeColor"
                          [lastUpdateTime]="lastUpdateTime" [timeRange]='timeRange' [icon]="icon"
                          [menuItems]="menuItems"
                          [ngClass]="gradTheme ? 'basecard-foreground-header-new' : ''">

      <div widget-options>
        <ng-content select="[header-options]"></ng-content>
      </div>

    </app-dsbdwidgetheader>
    <div [ngClass]="gradTheme ? 'gradient-line' : ''"></div>
    <div class="basecard-foreground-content" fxFlex="auto" fxLayout="row">
      <ng-content fxFlex="100%"></ng-content>
    </div>
    <div [ngClass]="gradTheme ? 'detail-card-border' : ''"></div>
  </div>
  <div [@fade]
       *ngIf="cardState === cardStates.LOADING || cardState === cardStates.FAILED || cardState === cardStates.NO_DATA"
       class="basecard-foreground">
    <!-- Failed state -->
    <div *ngIf="cardState === cardStates.FAILED" fxFlex="auto" fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="20px">
      <mat-icon fxFlex="nogrow" class="basecard-failed-icon">error_outline</mat-icon>
      <div fxFlex="nogrow" class="basecard-failed-text">Failed to get data</div>
    </div>
    <div *ngIf="cardState === cardStates.NO_DATA" fxFlex="auto" fxLayout="row"
         fxLayoutAlign="center center"
         fxLayoutGap="20px">
      <mat-icon fxFlex="nogrow" class="basecard-failed-icon">error_outline</mat-icon>
      <div fxFlex="nogrow" class="basecard-failed-text">No data available</div>
    </div>
    <app-spinner *ngIf="cardState === cardStates.LOADING"></app-spinner>
  </div>
</div>
