<div fxFlex="auto" fxLayout="column" class="psm-form partial-edit-sgpolicy-container">

  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="space-between">
    <ng-container *ngTemplateOutlet="meta"></ng-container>
    <div *ngIf="isInline" fxFlex="nogrow" fxLayout="row wrap"
         fxLayoutAlign="start start">
      <span (click)="saveObject()"
            [title]="getSubmitButtonToolTip()"
            [ngClass]="{
              'global-button-primary': true,
              'global-button-padding': true,
              'partial-edit-sgpolicy-save': true,
              'global-button-disabled': !isFormValid()
            }">SAVE</span>
      <span (click)="cancelObject()"
            class="global-button-neutral global-button-padding partial-edit-sgpolicy-save">CANCEL</span>
    </div>
  </div>
  <!--
  <ng-container *ngTemplateOutlet="attachForm"></ng-container>
  -->
  <div fxFlex="15px"></div>
  <ng-container *ngTemplateOutlet="rulesSection"></ng-container>
</div>

<ng-template #meta>
  <div fxFlex="none" [formGroup]="newObject.$formGroup">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" formGroupName="meta">
      <app-psmtextbox fxFlex="400px" label="Name" formControlName="name">
      </app-psmtextbox>
    </div>
  </div>
</ng-template>

<ng-template #attachForm>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxFlex="nogrow">ATTACH TO:</div>
    <mat-radio-group fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px"
                     class="partial-edit-sgpolicy-attach-radio" [(ngModel)]="selectedAttachOption">
      <mat-radio-button fxFlex="nogrow" fxLayoutAlign="start center" color="primary"
                        [disableRipple]="true" class=""
                        *ngFor="let option of attachOptions" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
    </mat-radio-group>
    <div [@fastSlideInOut] *ngIf="selectedAttachOption === 'securityGroups'" fxFlex="noshrink"
         fxLayout="row"
         fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="90px"></div>
      <div fxFlex="nogrow" class="partial-edit-sgpolicy-text">GROUPS:</div>
      <p-multiSelect class="partial-edit-sgpolicy-multiselect" fxFlex="300px" appendTo="body"
                     styleClass="partial-edit-sgpolicy-font"
                     [filter]="false" [showToggleAll]="false" [showHeader]="false"
                     defaultLabel="Select Groups..."
                     [options]="securityGroupOptions"
                     [formControl]="newObject.$formGroup.get(['spec', 'attach-groups'])">
      </p-multiSelect>
    </div>
  </div>
</ng-template>

<ng-template #rulesSection>
  <div fxFlex="none" fxLayout="row">
    <div fxFlex="10px"></div>
    <app-orderedlist div fxFlex="900px" [dataArray]="rules" [template]="ruleTemplateEdit"
                     [enableDragDrop]="false" [enableOrdering]="false"
                     [skipRenderActionIcons]="true">
    </app-orderedlist>
  </div>
</ng-template>

<ng-template #ruleTemplateEdit let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center none"
       class="partial-edit-sgpolicy-rule-template">
    <!-- RuleNumber commented for now, component doesnt have rule reorder logic at this time. -->
    <!-- <div class="partial-edit-sgpolicy-order-header" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start end">
        <input autocomplete="off" fxFlex="50px" [formControl]="ruleNumberEditControl" class="partial-edit-sgpolicy-number-edit"
               appErrorTooltip
               spellcheck="false" type="text" pInputText>
      </div>
      <div fxFlex="30px"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="25px">
        <div fxFlex="auto" class="partial-edit-sgpolicy-bold">RULE</div>
      </div>
      <div fxFlex="auto" fxLayoutAlign="end center">
      </div>
    </div> -->

    <ng-container [formGroup]="data.rule.$formGroup">
      <!--<div fxFlex="5px"></div>
      <div fxFlex="15px" class="partial-edit-sgpolicy-divider"></div>-->
      <div fxFlex="none" fxLayout="row">
        <app-psmselectbox fxFlex="400px" label="Action" formControlName="action"
                          [options]="actionOptions">
        </app-psmselectbox>
      </div>
      <div fxFlex="15px"></div>
      <div class="partial-edit-sgpolicy-chips" fxFlex="none" fxLayout="row">
        <app-psmchipsbox fxFlex="400px" [label]="'Source ' + IPS_LABEL"
                         [showRequired]="true"
                         [formControl]="data.rule.$formGroup.get(['from-ip-addresses'])"
                         [itemValidator]="isValidIP" [itemErrorMsg]="IPS_ERRORMSG">
        </app-psmchipsbox>
        <div fxFlex="20px"></div>
        <app-psmchipsbox fxFlex="400px" [label]="'Destination ' + IPS_LABEL"
                         [showRequired]="true"
                         [formControl]="data.rule.$formGroup.get(['to-ip-addresses'])"
                         [itemValidator]="isValidIP" [itemErrorMsg]="IPS_ERRORMSG">
        </app-psmchipsbox>
      </div>
      <div fxFlex="15px"></div>
    </ng-container>

    <div fxFlex="none" fxLayout="row">
      <app-psmradiobuttons fxFlex="500px" [formControl]="data.selectedProtoAppOption"
                           [options]="protoAppOptions">
      </app-psmradiobuttons>
    </div>

    <div *ngIf="data.selectedProtoAppOption.value === PROTO_PORTS_OPTION"
         fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngTemplateOutlet="protoandportsTemplate; context:{data: data, index: index}">
      </ng-container>
    </div>
    <div *ngIf="data.selectedProtoAppOption.value === APPS_OPTION"
         fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngTemplateOutlet="appsTemplate; context:{data: data, index: index}">
      </ng-container>
    </div>

  </div>
</ng-template>

<ng-template #ruleTemplateView let-data="data" let-index="index" let-inEdit="inEdit">
</ng-template>

<ng-template #protoandportsTemplate let-data="data" let-ruleIndex="index">
  <app-listcontainer [formGroup]="data.rule.$formGroup.get('proto-ports')"
                     [itemTemplate]="protoandportsRowTemplate" addText="Protocols and Ports"
                     [isInline]="isInline" (addItem)="addProtoTarget(ruleIndex)"
                     (deleteItem)="removeProtoTarget(ruleIndex, $event)">
  </app-listcontainer>
</ng-template>

<ng-template #protoandportsRowTemplate let-protoandports="item" let-index="index">
  <div fxLayout="row" [formGroup]="protoandports" fxLayoutAlign="start start">
    <app-psmtextbox fxFlex="250px" label="Protocol" formControlName="protocol"
                    [showRequired]="true">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
    <app-psmtextbox fxFlex="250px" label="Ports" formControlName="ports"
                    [showRequired]="isPortRequired(protoandports)">
    </app-psmtextbox>
    <div fxFlex="5px"></div>
  </div>
</ng-template>

<ng-template #appsTemplate let-data="data" let-index="index">
  <div fxFlex="none" fxLayout="row">
    <app-psmmultiselectbox fxFlex="400px"
                           [formControl]="data.rule.$formGroup.get('apps')"
                           [options]="securityAppOptions" defaultLabel="Select Apps...">
    </app-psmmultiselectbox>
  </div>
</ng-template>
