@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.partial-edit-sgpolicy-container {
  padding: 20px 15px;
  @include primary-font();
  max-height: calc(100vh - 100px);

  .partial-edit-sgpolicy-save,
  .partial-edit-sgpolicy-cancel {
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    line-height: 25px;
    margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
  }

  .partial-edit-sgpolicy-rule-template {
    margin-left: 15px;
  }
}
