<app-pagebody [icon]="bodyicon" [header]="selectedId">
  <div fxFlex="none" fxLayout="row wrap" fxLayoutGap="10px"
       class="nodedetail-stats-charts-container">
    <div fxFlex="1 0 500px" class="detail-card detail-card-wrapper nodedetail-stats-container"
         fxLayout="column">
      <div class="detail-card-border"></div>
      <app-cpu-memory-storage-stats
                                    [heroCards]="heroCards" [lastUpdateTime]="lastUpdateTime">
      </app-cpu-memory-storage-stats>
      <div class="detail-card-border"></div>
    </div>
    <div fxFlex="1 0 500px"></div>
  </div>
  <div *roleGuard="{opt: ['monitoringAlert_read', 'eventsevent_read']}" fxFlex
       class="nodedetail-alertsevents-container">
    <app-shared-alertsevents [selector]="alertseventsSelector"></app-shared-alertsevents>
  </div>
  <!-- Deletion screen overlay displays when the policy we are viewing is deleted -->
  <!-- Missing screen overlay displays when the policy does not exist-->
  <div #overlay *ngIf="showDeletionScreen || showMissingScreen" fxLayout="row"
       fxLayoutAlign="center stretch" class="nodedetail-overlay">
    <div fxFlex="50%" fxLayout="column" class="nodedetail-overlay-content">
      <div fxFlex='20%'></div>
      <div *ngIf="showDeletionScreen" fxFlex='15%' class="nodedetail-deleted-node"></div>
      <div *ngIf="showMissingScreen" fxFlex='15%' class="nodedetail-missing-node"></div>
      <div *ngIf="showDeletionScreen" fxFlex="none" class="nodedetail-overlay-text">
        {{ selectedId }} has been deleted
      </div>
      <div *ngIf="showMissingScreen" fxFlex="none" class="nodedetail-overlay-text">
        {{ selectedId }} does not exist
      </div>
      <div fxFlex="5%"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40px">
        <button fxFlex="none" class="global-button-primary nodedetail-overlay-button"
                routerLink="../">CLUSTER OVERVIEW </button>
        <button fxFlex="none" class="global-button-primary nodedetail-overlay-button"
                (click)="routeToHomepage()">HOMEPAGE</button>
      </div>
    </div>
  </div>
</app-pagebody>
