<div fxFlex="auto" fxLayout="row" [formGroup]="syslogServerForm" class="syslog-syslog">
  <div fxFlex="nogrow" fxLayout="column">
    <div fxFlex="auto" fxLayout="column" formArrayName="targets"
         [ngStyle]="syslogFieldsetWidth ? {'width': syslogFieldsetWidth} : {'width': ''}">
      <!-- Buffer, creating as a div so there are no hiccups in the animation-->
      <app-fieldcontainer *ngIf="!showSyslogOptions" fieldTitle="EXPORT CONFIGURATION">
        <ng-container *ngTemplateOutlet="syslogOptions"></ng-container>
      </app-fieldcontainer>
      <app-fieldcontainer *ngIf="showSyslogOptions" fieldTitle="SYSLOG EXPORT CONFIGURATION">
        <ng-container *ngTemplateOutlet="syslogOptions"></ng-container>
      </app-fieldcontainer>
      <div fxFlex="10px"></div>
      <app-fieldcontainer *ngIf="showTargets" fieldTitle="Target">
        <app-listcontainer
                           [formGroup]="syslogServerForm.get(['targets'])" [isInline]="isInline"
                           [itemTemplate]="syslogTargetsRow" addText="TARGET"
                           [maxiumCount]="maxTargets"
                           (addItem)="addTarget()" (deleteItem)="removeTarget($event)">
        </app-listcontainer>
      </app-fieldcontainer>
    </div>
  </div>

  <ng-template #syslogOptions>
    <div fxFlex="nogrow" fxLayout="row wrap" class="syslog-export-parent"
         [formGroup]="syslogServerForm">
      <span *ngIf="showSyslogOptions" fxFlex="none" fxLayout="row" formGroupName="config">
        <app-psmselectbox fxFlex="170px" label="Facility Override" class="syslog-override"
                          [options]="syslogOverrideOptions" formControlName="facility-override">
        </app-psmselectbox>
        <div fxFlex="15px"></div>
        <app-psmtextbox *ngIf="showSyslogPrefix" fxFlex="170px" label="Prefix"
                        class="syslog-prefix" formControlName="prefix"></app-psmtextbox>
        <div fxFlex="15px"></div>
      </span>
      <app-psmradiobuttons fxFlex="170px" formControlName="format" class="syslog-format"
                           [options]="formatOptions" label="Format">
      </app-psmradiobuttons>
    </div>
  </ng-template>

  <ng-template #syslogTargetsRow let-target="item" let-index="index">
    <div fxFlex="none" fxLayout="row" [formGroup]="target">
      <app-psmtextbox fxFlex="170px" label="destination" class="syslog-destination"
                      formControlName="destination"
                      [showRequired]="isFieldDestinationRequired(target)">
      </app-psmtextbox>
      <div fxFlex="15px"></div>
      <app-psmtextbox fxFlex="170px" [label]="gatewayLabel" formControlName="gateway">
      </app-psmtextbox>
      <div fxFlex="15px"></div>
      <app-psmtextbox fxFlex="170px" label="Transport" class="syslog-transport"
                      formControlName="transport" [showRequired]="isFieldTransportRequired(target)">
      </app-psmtextbox>
      <div fxFlex="10px"></div>
    </div>
  </ng-template>

  <ng-template #syslogCredentials let-index="index">
    <div fxFlex="nogrow" fxLayout="column" class="syslog-group"
         [formGroup]="syslogServerForm.get(['targets', index, 'credentials'])">
      <!-- Credentials -->
      <div fxFlex="30px" class="syslog-fieldtitle">CREDENTIALS</div>
      <div fxFlex="auto" fxLayout="row">

        <mat-radio-group fxFlex="nogrow" fxLayout="column" fxLayoutGap="5px"
                         class="syslog-fieldtitle syslog-credential-radio" appErrorTooltip
                         formControlName="auth-type">
          <mat-radio-button fxFlex="none" color="primary" [disableRipple]="true" class=""
                            *ngFor="let option of syslogCredentialOptions"
                            [value]="option.value">
            {{option.label}}
          </mat-radio-button>
        </mat-radio-group>

        <!-- we use getSelectedCredentialMethod(syslog) to control switch on displaying auth-type UI -->
        <div fxFlex="auto" fxLayout="row" [ngSwitch]="getSelectedCredentialMethod(index)">
          <ng-container *ngSwitchCase="'AUTHTYPE_USERNAMEPASSWORD'">
            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Username:</span>
              </div>

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Password:</span>
              </div>
            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="30px" fxLayout="row" class="syslog-value">
                <input autocomplete="off" appErrorTooltip formControlName="username" fxFlex="nogrow"
                       class="syslog-input"
                       spellcheck="false" type="text" pInputText
                       placeholder="">
              </div>
              <div fxFlex="30px" fxLayout="row" class="syslog-value">
                <input autocomplete="off" appErrorTooltip formControlName="password" fxFlex="nogrow"
                       class="syslog-input"
                       spellcheck="false" type="password" pInputText
                       placeholder="">
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'AUTHTYPE_TOKEN'">
            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Token:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="30px" fxLayout="row" class="syslog-value">
                <input autocomplete="off" appErrorTooltip formControlName="bearer-token"
                       fxFlex="nogrow"
                       class="syslog-input" spellcheck="false" type="text" pInputText
                       placeholder="">
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'AUTHTYPE_CERTS'">
            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Client Cert:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="120px" fxLayout="row" class="syslog-value">
                <textarea appErrorTooltip formControlName="cert-data" fxFlex="nogrow"
                          class="syslog-input" spellcheck="false" type="text"
                          pInputTextarea placeholder=""></textarea>
              </div>
            </div>

            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Key Data:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="120px" fxLayout="row" class="syslog-value">
                <textarea appErrorTooltip formControlName="key-data" fxFlex="nogrow"
                          class="syslog-input" spellcheck="false" type="text" pInputTextarea
                          placeholder=""></textarea>
              </div>
            </div>

            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Server Cert:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="120px" fxLayout="row" class="syslog-value">
                <textarea appErrorTooltip formControlName="ca-data" fxFlex="nogrow"
                          class="syslog-input" spellcheck="false" type="text" pInputTextarea
                          placeholder=""></textarea>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

    </div>
  </ng-template>
