@import "src/global-mixins";

.new-flow-export-container {
  app-syslog {
    margin-left: 10px;
  }

  app-orderedlist {
    width: 590px;
    margin-left: 10px;

    .export-policy-bold {
      @include primary-font(16px, #383838, 500);
    }

    .export-policy-bold-subtext {
      @include primary-font(14px, #383838, 200);
    }

    .export-policy-rule-content {
      color: #767676;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@include adjust-inlinebuttons-boundry(1165, new-flow-export-editform-inline);
