<div fxFlex="auto" fxLayout="column" class="psm-form new-flow-export-container">
  <app-inlinebuttons class="new-workload" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div [class]="isInline? 'new-flow-export-editform-inline' : ''">
    <div fxFlex="auto" fxLayout="row wrap" class="psm-form-content">
      <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start center">
        <ng-container *ngTemplateOutlet="metaSpec"></ng-container>
        <div fxFlex="10px"></div>
        <app-syslog #syslogComponent fxFlex="nogrow"
                    [isInline]="isInline"
                    [syslogExport]="syslogConfig"
                    [formatOptions]="formatOptions"
                    gatewayLabel="DSC-Gateway"
                    [showSyslogOptions]="false"
                    syslogFieldsetWidth="590px"
                    [maxTargets]="maxTargets"
                    fxLayout="column">
        </app-syslog>
        <div fxFlex="10px"></div>
      </div>
      <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start center">
        <ng-container *ngTemplateOutlet="match_rules"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #metaSpec>
  <div fxFlex="none" fxLayout="row">
    <app-psmtextbox fxFlex="190px" label="Name"
                    [formControl]="newObject.$formGroup.get(['meta', 'name'])">
    </app-psmtextbox>
    <div fxFlex="15px"></div>
    <app-psmtextbox fxFlex="190px" label="Interval"
                    [formControl]="newObject.$formGroup.get(['spec', 'interval'])">
    </app-psmtextbox>
    <div fxFlex="15px"></div>
    <app-psmtextbox fxFlex="190px" label="Template Refresh Rate"
                    [formControl]="newObject.$formGroup.get(['spec', 'template-interval'])">
    </app-psmtextbox>
  </div>
</ng-template>

<ng-template #match_rules>
  <div fxFlex="none" fxLayout="column">
    <div fxFlex="none" fxLayout="row">
      <div fxFlex="10px"></div>
      <div fxFlex="none">Export Packet Rule:</div>
    </div>
    <div fxFlex="10px"></div>
    <app-orderedlist
                     [enableDragDrop]="false" [enableOrdering]="false"
                     [dataArray]="ExportPolicyRules"
                     [templateEdit]="ruleTemplateEdit" [templateView]="ruleTemplateView"
                     (addItem)="addRule()" (deleteItem)="deleteRule($event)">
    </app-orderedlist>
  </div>
</ng-template>

<ng-template #ruleTemplateEdit let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutGap="15px">
    <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
      <app-psmchipsbox fxFlex="270px" [label]="'Source ' + IPS_LABEL"
                       [formControl]="data.rule.$formGroup.get(['source', 'ip-addresses'])"
                       [itemValidator]="isValidIP" [itemErrorMsg]="IPS_ERRORMSG">
      </app-psmchipsbox>
      <app-psmchipsbox fxFlex="270px" [label]="'Destination ' + IPS_LABEL"
                       [formControl]="data.rule.$formGroup.get(['destination', 'ip-addresses'])"
                       [itemValidator]="isValidIP" [itemErrorMsg]="IPS_ERRORMSG">
      </app-psmchipsbox>
    </div>
    <div fxFlex="none" fxLayout="row">
      <app-psmchipsbox fxFlex="270px" label="Protocol / Ports"
                       [formControl]="data.rule.$formGroup.get(['app-protocol-selectors', 'proto-ports'])"
                       [itemValidator]="isValidProto" [itemErrorMsg]="PROTS_ERRORMSG"
                       [toolTip]="PROTS_TOOLTIP">
      </app-psmchipsbox>
    </div>
  </div>
</ng-template>

<ng-template #ruleTemplateView let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start none">
    <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="20px"></div>
      <div fxFlex="100%" fxLayout="row">
        <ng-container *ngTemplateOutlet="ruleColumnTemplate; context:{title: 'Source', subtitleWidth: '40px',
            subtitle: 'IP', list: data.rule.$formGroup.get(['source', 'ip-addresses']).value}">
        </ng-container>
        <ng-container
                      *ngTemplateOutlet="ruleColumnTemplate; context:{title: 'Destination', subtitleWidth: '40px',
            subtitle: 'IP', list: data.rule.$formGroup.get(['destination', 'ip-addresses']).value}">
        </ng-container>
        <ng-container
                      *ngTemplateOutlet="ruleColumnTemplate; context:{title: 'PROTO-PORTS/APPS', subtitleWidth: '80px',
            subtitle: 'Proto-ports', list: data.rule.$formGroup.get(['app-protocol-selectors', 'proto-ports']).value}">
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ruleColumnTemplate let-title="title" let-subtitle="subtitle"
             let-subtitleWidth="subtitleWidth" let-list="list">
  <div fxFlex="1 1 100%" fxLayout="column" fxLayouAlign="start start">
    <div fxFlex="none" class="export-policy-bold">{{title}}</div>
    <div fxFlex="5px"></div>
    <div *ngIf="list && list.length > 0" fxFlex="none" fxLayout="row">
      <div fxFlex="{{subtitleWidth}}" class="export-policy-bold-subtext">{{subtitle}}:</div>
      <div fxFlex="none" fxLayout="column">
        <span *ngFor="let item of list" class="export-policy-rule-content">{{item}}</span>
      </div>
    </div>
  </div>
</ng-template>
