<div fxFlex="auto" fxLayout="column" class="psm-form">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="row" class="psm-form-content">
      <div fxFlex="none" fxLayout="column" fxLayoutGap="15px" [formGroup]="newObject.$formGroup">
        <div fxFlex="none" fxLayout="row" formGroupName="meta">
          <app-psmtextbox fxFlex="410px" label="Firewall Profile Name" formControlName="name">
          </app-psmtextbox>
        </div>
        <div fxFlex="none" fxLayout="column" fxLayoutGap="15px" formGroupName="spec">
          <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
            <app-psmtextbox fxFlex="200px" label="Session Idle Timeout"
                            formControlName="session-idle-timeout">
            </app-psmtextbox>

            <app-psmtextbox fxFlex="200px" label="TCP Connection Setup Timeout"
                            formControlName="tcp-connection-setup-timeout">
            </app-psmtextbox>

            <app-psmtextbox fxFlex="200px" label="TCP Close Timeout"
                            formControlName="tcp-close-timeout">
            </app-psmtextbox>


            <app-psmtextbox fxFlex="200px" label="TCP Half Closed Timeout"
                            formControlName="tcp-half-closed-timeout">
            </app-psmtextbox>
          </div>

          <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
            <app-psmtextbox fxFlex="200px" label="TCP Drop Timeout"
                            formControlName="tcp-drop-timeout">
            </app-psmtextbox>

            <app-psmtextbox fxFlex="200px" label="UDP Drop Timeout"
                            formControlName="udp-drop-timeout">
            </app-psmtextbox>

            <app-psmtextbox fxFlex="200px" label="ICMP Drop Timeout"
                            formControlName="tcp-close-timeout">
            </app-psmtextbox>


            <app-psmtextbox fxFlex="200px" label="Drop Timeout"
                            formControlName="drop-timeout">
            </app-psmtextbox>
          </div>

          <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
            <app-psmtextbox fxFlex="200px" label="TCP Timeout"
                            formControlName="tcp-timeout">
            </app-psmtextbox>

            <app-psmtextbox fxFlex="200px" label="UDP Timeout"
                            formControlName="udp-timeout">
            </app-psmtextbox>

            <app-psmtextbox fxFlex="200px" label="ICMP Timeout"
                            formControlName="icmp-timeout">
            </app-psmtextbox>
          </div>

          <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
            <app-psmnumberbox fxFlex="200px" label="TCP Half Open Session Limit" min="0" max="32768"
                              formControlName="tcp-half-open-session-limit">
            </app-psmnumberbox>

            <app-psmnumberbox fxFlex="200px" label="UDP Active Session Limit" min="0" max="32768"
                              formControlName="udp-active-session-limit">
            </app-psmnumberbox>

            <app-psmnumberbox fxFlex="200px" label="ICMP Active Session Limit" min="0" max="32768"
                              formControlName="icmp-active-session-limit">
            </app-psmnumberbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
