<div class="psm-form" fxFlex="auto" fxLayout="column">
  <app-inlinebuttons class="neweventalertpolicy" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start"
       [class]="isInline? 'neweventalertpolicy-editform-inline' : ''">
    <div fxLayout="row" fxLayoutAlign="center"
         class="psm-form-content neweventalertpolicy-container">
      <div fxFlex="none" fxLayout="column" [formGroup]="newObject.$formGroup">
        <div fxFlex="none" fxLayout="row" formGroupName="meta">
          <app-psmtextbox fxFlex="300px" label="Name" formControlName="name"
                          class="neweventalertpolicy-name">
          </app-psmtextbox>
        </div>
        <div fxFlex="15px"></div>
        <div fxFlex="none" fxLayout="row" formGroupName="spec">
          <app-psmtoggle fxFlex="250px" label="enable" formControlName="enable">
          </app-psmtoggle>
        </div>
        <div fxFlex="none" fxLayout="row">
          <app-fieldcontainer fxFlex="580px" fieldTitle="IF EVENT">
            <app-fieldselector #fieldSelector
                               kind="Event"
                               [formArray]="newObject.$formGroup.get(['spec', 'requirements'])"
                               keyFormName="key"
                               operatorFormName="operator"
                               valueFormName="values">
            </app-fieldselector>
          </app-fieldcontainer>
        </div>
        <div fxFlex="15px"></div>
        <div fxFlex="none" fxLayout="row" fxLayoutAlign="start end" formGroupName="spec">
          <app-psmselectbox fxFlex="266px" label="THEN ALERT" [options]="alertOptions"
                            formControlName="severity"
                            [optionItemTemplate]="severityItemTemplate"
                            class="neweventalertpolicy-severity">
          </app-psmselectbox>
          <div fxFlex="10px"></div>
          <div fxFlex="24px" fxLayout="row">
            <mat-icon fxFlex="none"
                      *ngIf="newObject.$formGroup.value.spec.severity?.toLowerCase() === 'critical'"
                      class="global-alert-critical-icon">error</mat-icon>
            <mat-icon fxFlex="none"
                      *ngIf="newObject.$formGroup.value.spec.severity?.toLowerCase() === 'warn'"
                      class="global-alert-warning-icon">error</mat-icon>
            <mat-icon fxFlex="none"
                      *ngIf="newObject.$formGroup.value.spec.severity?.toLowerCase() === 'info'"
                      class="global-alert-info-icon">notifications</mat-icon>
          </div>
        </div>
        <div fxFlex="15px"></div>
        <div fxFlex="none" fxLayout="row" formGroupName="spec">
          <app-psmmultiselectbox fxFlex="300px" formControlName="destinations"
                                 label="Destination" [options]="destinationOptions"
                                 defaultLabel="Select Destination...">
          </app-psmmultiselectbox>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #severityItemTemplate let-item>
  <div class="psm-form-select-box-dropdown-row">
    <div class="psm-form-select-box-dropdown-label">
      <mat-icon fxFlex="none" *ngIf="item.value === 'critical'"
                class="global-alert-critical-icon">error</mat-icon>
      <mat-icon fxFlex="none" *ngIf="item.value === 'warn'"
                class="global-alert-warning-icon">error</mat-icon>
      <mat-icon fxFlex="none" *ngIf="item.value === 'info'"
                class="global-alert-info-icon">notifications</mat-icon>
      <span class="neweventalertpolicy-dropdown-option-span">{{item.label}}</span>
    </div>
  </div>
</ng-template>
