*.log
gen/
src/third-party/lib/edit/
src/third-party/lib/gmp/
src/third-party/lib/ncurses/
hosttools
drivers/esxi/vib/
drivers/esxi/signed_drivers/
goldfw
minigoldfw
drivers/pencap/
drivers/pxe/signed_oprom/
