<div fxFlex="auto" fxLayout="column" class="psm-form new-network-container">
  <app-inlinebuttons class="new-network" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start center"
       [class]="isInline? 'new-network-editform-inline' : ''">
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="center" class="new-network-content">
      <ng-container *ngTemplateOutlet="singleMode"></ng-container>
    </div>
  </div>
</div>

<ng-template #singleMode>
  <div fxFlex fxLayout="column" [formGroup]="newObject.$formGroup">
    <div fxFlex="nogrow" fxLayout="column" class="new-network-input-container">
      <div fxFlex="nogrow" fxLayout="row" formGroupName="meta">
        <app-psmtextbox fxFlex="300px" label="Name" formControlName="name">
        </app-psmtextbox>
      </div>
      <div fxFlex="15px"></div>
      <div fxFlex="nogrow" fxLayout="row" formGroupName="spec">
        <app-psmnumberbox fxFlex="300px" label="VLAN" formControlName="vlan-id" min="0" max="4096">
        </app-psmnumberbox>
      </div>
    </div>
    <div fxFlex="15px"></div>
    <app-fieldcontainer fieldTitle="Orchestrators" class="new-network-orchestrators-container">
      <app-listcontainer
                         [formGroup]="newObject.$formGroup.get(['spec', 'orchestrators'])"
                         [itemTemplate]="vcenterRowTemplate" addText="ORCHESTRATOR"
                         [isInline]="isInline" [showDeleteButtonOnInline]="true"
                         (addItem)="addOrchestrator()" (deleteItem)="removeOrchestrator($event)">
      </app-listcontainer>
    </app-fieldcontainer>
  </div>
</ng-template>

<ng-template #vcenterRowTemplate let-orchestrator="item" let-index="index">
  <div fxFlex="585px" fxLayout="row" [formGroup]="orchestrator" fxLayoutAlign="start start">
    <app-psmselectbox fxFlex="285px" label="vCenter Name"
                      [addEmptyOption]="true" emptyOptionLabel="Select a vCenter"
                      (change)="onVcenterChange(orchestrator)"
                      [options]="vcenterOptions" formControlName="orchestrator-name">
    </app-psmselectbox>
    <div fxFlex="5px"></div>
    <app-psmmultiselectbox
                           fxFlex="285px" label="Datacenter Names" formControlName="namespace"
                           [showRequired]="!isFieldEmpty(orchestrator.get(['orchestrator-name']))"
                           [hintTooltip]="'Datacenter in the orchestrator in which this network should be created in. Type \'ALL\' for all datacenters.'"
                           [filter]="true" [showHeader]="true" [showToggleAll]="true"
                           [options]="orchestrator.datacenterOptions || []"
                           [allOption]="orchestrator.allOption">
    </app-psmmultiselectbox>
  </div>
</ng-template>
