<app-pagebody [icon]="bodyIcon" header="Apps Overview">
  <app-pentable #securityappsTable
                [actionTemplate]="actionTemplate"
                [bodyTemplate]="bodyTemplate"
                [captionTemplate]="captionTemplate"
                [columns]="cols"
                [createTemplate]="createTemplate"
                [data]="dataObjects"
                [enableCheckbox]="false"
                [expandTemplate]="expandTemplate"
                [loading]="tableLoading"
                (rowClickEmitter)="selectApp($event)"
                [rowHeight]="43"
                [exportFilename]="exportFilename"
                [exportMap]="exportMap">
  </app-pentable>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <div fxFlex="auto" fxLayout="column">
    <div *ngIf="selectedApp" fxFlex="auto" fxLayout="row" class="securityapps-detail-container">
      <ng-container *ngTemplateOutlet="selectedAppDetail;"></ng-container>
    </div>
    <app-tableheader fxFlex="auto" fxLayout="row"
                     [tableMenuItems]="penTable.tableMenuItems"
                     title="Apps"
                     [total]="dataObjects.length" [icon]="headerIcon"
                     [enableColumnSelect]="true"
                     [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
    </app-tableheader>
  </div>
</ng-template>

<ng-template #createTemplate>
  <app-newsecurityapp (formClose)="creationFormClose()"
                      fxFlex="none" [existingApps]="dataObjects">
  </app-newsecurityapp>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    {{displayColumn(rowData, col)}}
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon matTooltip="Edit App" *roleGuard="'securityapp_update'"
              class="global-table-action-icon securityapp-table-action-icon-edit pointer"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
    <mat-icon matTooltip="Delete App" *roleGuard="'securityapp_delete'"
              class="global-table-action-icon securityapp-table-action-icon-edit pointer"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newsecurityapp [style.width]="'100%'" (formClose)="editFormClose(rowData)"
                      [objectData]="rowData" [existingApps]="dataObjects" [isInline]="true"
                      fxFlex="none"></app-newsecurityapp>
</ng-template>

<ng-template #selectedAppDetail>
  <div fxFlex="auto" fxLayout="row">
    <div fxFlex="auto" fxLayout="column">
      <div class="securityapps-detail-header" fxLayout="row">
        <a fxFlex="auto" fxLayoutAlign="start center">App Details:</a>
        <mat-icon class="securityapps-detail-close" (click)="closeDetails()">close</mat-icon>
      </div>
      <div fxFlex="5px"></div>
      <div fxFlex="auto" fxLayout="row">
        <div fxFlex="50%" fxLayout="column" fxLayoutGap="5px">
          <div fxLayout="row">
            <a fxFlex="200px" fxLayoutAlign="start start" class="securityapps-detail-key">Name:</a>
            <a fxFlex="200px" fxLayoutAlign="start start" class="securityapps-detail-value">
              {{this.selectedApp.meta.name}}
            </a>
          </div>
          <div fxLayout="row">
            <a fxFlex="200px" fxLayoutAlign="start start" class="securityapps-detail-key">Creation
              Time:</a>
            <a fxFlex="200px" fxLayoutAlign="start start" class="securityapps-detail-value">
              {{ dateToString(this.selectedApp.meta['creation-time']) | PrettyDate }}
            </a>
          </div>
          <div fxLayout="row">
            <a fxFlex="200px" fxLayoutAlign="start start"
               class="securityapps-detail-key">Modification Time:</a>
            <a fxFlex="200px" fxLayoutAlign="start start" class="securityapps-detail-value">
              {{ dateToString(this.selectedApp.meta['mod-time']) | PrettyDate }}
            </a>
          </div>
        </div>
        <div fxFlex="50%" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start start">
            <a fxFlex="150px" fxLayoutAlign="start start" class="securityapps-detail-key">
              Configuration:</a>
            <span fxFlex="auto" fxLayoutAlign="start start"
                  class="securityapps-detail-value">{{displayColumn(this.selectedApp, {'field': 'spec.alg.type'})}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
