<div fxFlex="auto" fxLayout="column" class="psm-form new-fwlogpolicy-container">
  <app-inlinebuttons class="new-fwlogpolicy" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start"
       [class]="isInline? 'new-fwlogpolicy-editform-inline' : ''">
    <div fxLayout="row" fxLayoutAlign="center" class="psm-form-content">
      <div fxFlex="none" fxLayout="column" [formGroup]="newObject.$formGroup">
        <div fxFlex="nogrow" fxLayout="row" formGroupName="meta">
          <app-psmtextbox fxFlex="275px" label="Name"
                          class="newfwlogpolicy-name" formControlName="name">
          </app-psmtextbox>
          <div fxFlex="20px"></div>
          <app-psmmultiselectbox fxFlex="275px" label="Export"
                                 [formControl]="newObject.$formGroup.get(['spec', 'filter'])"
                                 [options]="filterOptions" [allOption]="filterAllOption">
          </app-psmmultiselectbox>
        </div>
        <div fxFlex="20px"></div>
        <div fxFlex="nogrow" fxLayout="row">
          <app-psmtoggle fxFlex="300px" label="Enable PSM Target" (change)="onToggleChange()"
                         [formControl]="newObject.$formGroup.get(['spec', 'psm-target', 'enable'])">
          </app-psmtoggle>
        </div>
        <div fxFlex="noshrink" fxLayout="row">
          <app-syslog #syslogComponent fxFlex="nogrow" fxLayout="column"
                      [isInline]="isInline" targetTransport="<TCP/UDP>/<port>"
                      [maxTargets]="maxTargets"
                      [showSyslogPrefix]="false"
                      [syslogExport]="newObject.$formGroup.get(['spec']).value">
          </app-syslog>
        </div>
      </div>
    </div>
  </div>
</div>
