<div class="detail-card-wrapper dashboard-card-wrapper">
  <div class="detail-card dsbdcard">
    <div class="detail-card-border"></div>

    <!-- header -->
    <div fxLayout="row" class="detail-card-header" fxLayoutAlign="start center">
      <span>{{ displayData.title }}</span>
      <span class="dsbdcard-lastupdateTime" *ngIf="displayData.lastUpdateTime">
        {{ displayData.lastUpdateTime | PrettyDate}}</span>
    </div>

    <!-- stats body -->
    <div fxLayout="row">
      <div class="dsbdcard-stats" fxLayout="column">
        <div class="detail-card-border"></div>
        <div fxLayout="column">
          <div class="dsbdcard-keystat" fxLayout="row">
            <div class="dsbdcard-keystat-text">
              {{ displayData.rows[0].value }}
            </div>
            <div fxLayout="column" fxLayoutAlign="end start" class="dsbdcard-keystat-name">
              {{ displayData.rows[0].unit }}
            </div>
          </div>

          <ng-container
                        *ngTemplateOutlet="dbsdStat; context:{name: displayData.rows[1].title, value: displayData.rows[1].value, unit: displayData.rows[1].unit}">
          </ng-container>

          <ng-container
                        *ngTemplateOutlet="dbsdStat; context:{name: displayData.rows[2].title, value: displayData.rows[2].value, unit: displayData.rows[2].unit}">
          </ng-container>

          <ng-container *ngIf="displayData.rows.length > 2">
            <ng-container
                          *ngTemplateOutlet="dbsdStat; context:{name: displayData.rows[3].title, value: displayData.rows[3].value, unit: displayData.rows[3].unit}">
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div *ngIf="displayData.alerts" class="dsbdcard-sidepanel"
           fxLayout="column">
        <ng-container *ngTemplateOutlet="sidePanel"> </ng-container>
      </div>
    </div>
    <div class="detail-card-border"></div>
  </div>
</div>

<ng-template #dbsdStat let-statName="name" let-statValue="value" let-statUnit="unit">
  <div class="dsbdcard-stat">
    <div class="dsbdcard-stat-header" fxLayout="row" fxLayout="start stretch">
      <div fxFlex="4 0 auto" fxLayout="column">
        <div fxFlex="1 1 auto"></div>
        <div class="detail-card-border"></div>
        <div fxFlex="1 1 auto"></div>
      </div>
      <div class="dsbdcard-stat-name" fxFlex="1 0 auto">
        {{statName}}
      </div>
    </div>
    <div class="dsbdcard-stat-text" fxLayout="row" fxLayoutAlign="end stretch">
      <span class="dsbdcard-stat-text-value">{{ statValue }}</span>
      <span *ngIf="statUnit" class="dsbdcard-stat-text-value">{{ statUnit }}</span>
    </div>
  </div>
</ng-template>

<ng-template #sidePanel>
  <div class="detail-card-border"></div>
  <div class="dsbdcard-sidepanel-header">
    Alerts
  </div>
  <div class="detail-card-border"></div>
  <div class="dsbdcard-horizontal-divider"></div>
  <div class="dsbdcard-sidepanel-text" fxLayout="row" fxLayoutGap="5px">
    <div fxFlex="1 0 auto" fxLayoutAlign="start center">CRITICAL</div>
    <div fxFlex="1 0 auto" class="global-alert-critical-icon" fxLayoutAlign="end center">
      {{ displayData.alerts[0] }}</div>
  </div>
  <div class="dsbdcard-sidepanel-text" fxLayout="row" fxLayoutGap="5px">
    <div fxFlex="1 0 auto" fxLayoutAlign="start center">HIGH</div>
    <div fxFlex="1 0 auto" class="global-alert-warning-icon" fxLayoutAlign="end center">
      {{ displayData.alerts[1] }}</div>
  </div>
  <div class="dsbdcard-sidepanel-text" fxLayout="row" fxLayoutGap="5px">
    <div fxFlex="1 0 auto" fxLayoutAlign="start center">NORMAL</div>
    <div fxFlex="1 0 auto" class="global-alert-info-icon" fxLayoutAlign="end center">
      {{ displayData.alerts[2] }}</div>
  </div>
</ng-template>

<!--
Increase left boundary thickness?
thousands separator?
-->
