@import 'src/import-mixins';

.not_admitted_icon {
  font-size: 16px;
  color: #dd3b09;
  margin-left: 2px;
  margin-top: 2px;
}

.host-button {
  padding-left: 10px;
  padding-right: 10px;
}

.hosts-workloads-div {
  display: inline-block;
  margin: 0px 5px;
}

.hosts-column-venice-icon,
.hosts-column-vcenter-icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.hosts-table-header-title-append {
  @include primary-font(20px, #484848);
  margin-right: 5px;
  text-align: left;
  white-space: nowrap;
}

.hosts-action-template {
  width: 100%;
}

.host-table-caption .tableheader-title-container {
  flex: 0 0 auto !important;
}
