@import 'src/global-mixins';

.newVcenter-cred-box {
  margin-left: 10px;

  &>div {
    width: 370px;
    margin-left: 10px;
  }
}

@include adjust-inlinebuttons-boundry(960, newVcenter-editform-inline);
