<div class="psm-form" fxFlex="auto" fxLayout="column">
  <app-inlinebuttons class="newVcenter" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start"
       [class]="isInline? 'newVcenter-editform-inline' : ''">
    <div fxLayout="row" fxLayoutAlign="center" class="psm-form-content">
      <ng-container *ngTemplateOutlet="singleMode;"></ng-container>
    </div>
  </div>
</div>

<ng-template #singleMode>
  <div fxFlex fxLayout="column" [formGroup]="newObject.$formGroup">
    <div fxFlex="nogrow" fxLayout="column">
      <div formGroupName="meta" fxFlex="none" fxLayout="row">
        <app-psmtextbox fxFlex="410px" label="Name" formControlName="name">
        </app-psmtextbox>
      </div>
      <div fxFlex="15px"></div>
      <div formGroupName="spec" fxFlex="none" fxLayout="row">
        <app-psmtextbox fxFlex="410px" label="URI" formControlName="uri">
        </app-psmtextbox>
      </div>
      <div fxFlex="15px"></div>
      <div fxFlex="none" fxLayout="row">
        <app-psmradiobuttons fxFlex="410px" [formControl]="datacenterCtrl"
                             [isSmallSize]="true" [options]="chooseOptions">
        </app-psmradiobuttons>
      </div>
      <div formGroupName="spec" fxLayout="row" fxFlex="none">
        <app-psmchipsbox *ngIf="datacenterCtrl.value !== ALL_DATACENTERS"
                         fxFlex="410px" label="Datacenter Names"
                         formControlName="manage-namespaces"
                         [toolTip]="DCNAMES_TOOLTIP" [showRequired]="true">
        </app-psmchipsbox>
      </div>
      <app-fieldcontainer fieldTitle="Credential" class="newVcenter-cred-box">
        <div fxflex="nogrow" [formGroup]="newObject.$formGroup.get(['spec','credentials'])">
          <div fxLayout="column"
               [ngSwitch]="newObject.$formGroup.get(['spec','credentials', 'auth-type']).value">
            <div fxLayout="column" *ngSwitchCase="'username-password'" [@slideInOut]>
              <div fxFlex="none" fxLayout="row">
                <app-psmtextbox fxFlex="370px" formControlName="username"
                                label="User Name" [showRequired]="isUsernameRequired()">
                </app-psmtextbox>
              </div>
              <div fxFlex="15px"></div>
              <div fxFlex="none" fxLayout="row">
                <app-psmpassword fxFlex="370px" formControlName="password"
                                 label="Password" [showRequired]="isPasswordRequired()"
                                 [passwordMask]="!isInline? '': PASSWORD_MASK">
                </app-psmpassword>
              </div>
              <div fxFlex="15px"></div>
              <div fxFlex="none" fxLayout="row">
                <app-psmtoggle fxFlex="250px" label="Disable Server Authentication"
                               formControlName="disable-server-authentication"
                               (change)="onToggleChange()">
                </app-psmtoggle>
              </div>
              <ng-container *ngIf="showCaData()">
                <div fxFlex="10px"></div>
                <div fxFlex="none" fxLayout="row">
                  <app-psmtextarea fxFlex="370px" formControlName="ca-data" label="CA Bundle">
                  </app-psmtextarea>
                </div>
              </ng-container>
            </div>
            <div fxFlex="10px"></div>
          </div>
        </div>
      </app-fieldcontainer>
    </div>
  </div>
</ng-template>
