.workloadNames-col-more-link-div {
  width: 150px;
  height: 25px;
  background: url("/assets/images/icons/ico-morelnk-grey.svg") left center no-repeat;
  background-size: contain;
  line-height: 25px;
  padding-left: 30px;
  color: #767676;
}
