@import 'src/global-mixins';

.newsgpolicy-container {

  .orderedlist-order {
    position: relative;
    left: -20px;
  }

  .newsgpolicy-rule-template {
    width: 525px;

    .newsgpolicy-subtext {
      margin-top: 2px;
      @include primary-font(12px, #b2b3b4, 300);
    }

    .newsgpolicy-bold {
      @include primary-font(16px, #383838, 500);
    }

    .newsgpolicy-bold-subtext {
      @include primary-font(16px, #383838);
      width: 165px;
    }
  }

}
