<div fxFlex="auto" fxLayout="column" class="psm-form new-workload-container">
  <app-inlinebuttons class="new-workload" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="noshrink" fxLayout="row" fxLayoutAlign="center"
       [class]="isInline? 'new-workload-editform-inline' : ''">
    <div fxFlex="640px" fxLayout="column" class="psm-form-content">
      <ng-container *ngTemplateOutlet="metaHostname"></ng-container>
      <ng-container *ngTemplateOutlet="match_rules"></ng-container>
    </div>
  </div>
</div>

<ng-template #metaHostname>
  <div fxFlex="row" fxLayoutAlign="space-between">
    <app-psmtextbox fxFlex="245px" label="Name" class="new-workload-name"
                    [formControl]="newObject.$formGroup.get(['meta', 'name'])">
    </app-psmtextbox>
    <app-psmselectbox fxFlex="245px" class="new-workload-host"
                      label="Host Name" [options]="hostOptions"
                      [addEmptyOption]="true" emptyOptionLabel="Select a host"
                      [formControl]="newObject.$formGroup.get(['spec', 'host-name'])">
    </app-psmselectbox>
  </div>
</ng-template>

<ng-template #match_rules>
  <div fxFlex="none" fxLayout="column">
    <app-fieldcontainer class="new-workload-interfaces" fieldTitle="Interfaces"
                        [requiredLabel]="!oneInterfaceIsValid()" subtitle="(specify one or more)">
      <app-listcontainer
                         [formGroup]="newObject.$formGroup.get(['spec', 'interfaces'])"
                         [itemTemplate]="interfaceRowTemplate" addText="INTERFACE"
                         [isInline]="isInline" (addItem)="addInterface()"
                         (deleteItem)="removeInterface($event)">
      </app-listcontainer>
    </app-fieldcontainer>
  </div>
</ng-template>

<ng-template #interfaceRowTemplate let-interface="item" let-index="index">
  <div fxFlex="595px" fxLayout="row" [formGroup]="interface" fxLayoutAlign="start start">
    <app-psmtextbox fxFlex="140px" label="MAC Address"
                    class="new-workload-mac-address" formControlName="mac-address">
    </app-psmtextbox>
    <div fxFlex="10px"></div>
    <app-psmtextbox fxFlex="150px" [label]="IPS_LABEL"
                    formControlName="ip-addresses" [hintTooltip]="IPS_TOOLTIP"
                    [convertToList]="true" [autoTrim]="true">
    </app-psmtextbox>
    <div fxFlex="10px"></div>
    <app-psmnumberbox fxFlex="135px" label="External VLAN" class="new-workload-micro-seg-vlan"
                      formControlName="external-vlan" min="0" max="4095">
    </app-psmnumberbox>
    <div fxFlex="10px"></div>
    <app-psmnumberbox fxFlex="135px" label="Micro-seg VLAN" class="new-workload-external-vlan"
                      formControlName="micro-seg-vlan" min="1" max="4095">
    </app-psmnumberbox>
  </div>
</ng-template>
