@import "src/global-mixins";

.toprulescard {
  min-height: 360px;

  .detail-card {
    width: 470px;
  }
}

.toprulescard-chart {
  @include primary-font(14px);
}

.toprulescard-legend-colors {
  width: 15px;
  height: 15px;
  border: 1px solid $mediumGray;
}

.toprulescard-legend-colors.active {
  width: 15px;
  height: 15px;
  border: 2px solid $mediumGray;
}

.toprulescard-legend-sip,
.toprulescard-legend-dip {
  width: 75px;
}

.toprulescard-legend-protoports {
  width: 85px;
}

.toprulescard-rule-text,
.toprulescard-rule-title {
  @include primary-font(14px, $mediumGray, 300);
  font-stretch: condensed;
}

.toprulescard-rule-title {
  font-weight: 400;
}

.toprulescard-rule-text span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toprulescard-rule-text.active {
  text-decoration: underline;
}

.toprulescard-body {
  margin: 10px 10px 10px 0;
}

.toprulescard-highlighted-legend {
  border: 1.5px solid $mediumGray;
}

.toprulescard-no-hits-text {
  @include primary-font(18px, $mediumGray, 400);
}

.toprulescard-update-time {
  @include primary-font(14px, $mediumGray, 300);
  margin-left: 10px;
}

.toprulescard-clickable {
  cursor: pointer;
}
