<ng-container *ngTemplateOutlet="rulescard">
</ng-container>

<ng-template #rulescard>
  <div fxFlex="1 0 auto" class="detail-card-wrapper toprulescard dashboard-card-wrapper">
    <div fxFlex="1 0 auto" fxLayout="column" class="detail-card">
      <div class="detail-card-border"></div>

      <!-- header -->
      <div fxLayout="row" fxLayoutAlign="space-between" class="detail-card-header">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div>{{title}}</div>
          <div class="toprulescard-update-time" *ngIf="updateTime">
            {{updateTime | PrettyDate}}
          </div>
        </div>
        <div fxFlex="36px" class="toprulescard-clickable" *ngIf="menuItems.length>0"
             (click)="$event.stopPropagation();" fxLayoutAlign="end center">
          <mat-icon [matMenuTriggerFor]="menu"
                    aria-label="Open basic menu">
            more_vert
          </mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of menuItems" (click)="item.onClick()"
                    [disabled]="item.disabled"
                    [disableRipple]="true">
              {{ item.text }}
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="detail-card-border"></div>

      <ng-container *ngIf="dataReady && data && data.length>0">
        <ng-container *ngTemplateOutlet="body"></ng-container>
      </ng-container>
      <ng-container *ngIf="dataReady && data && data.length==0">
        <div class="toprulescard-no-hits-text" fxFlex="1 0 auto" fxLayoutAlign="center center">
          No recent hits found.
        </div>
      </ng-container>
      <ng-container *ngIf="!dataReady">
        <div fxFlex="1 0 auto">
          <app-spinner></app-spinner>
        </div>
      </ng-container>

      <div class="detail-card-border"></div>
    </div>
  </div>
</ng-template>

<ng-template #body>
  <!-- body -->
  <div fxFlex fxLayout="row" class="toprulescard-body">
    <!-- piechart -->
    <div fxLayout="column" fxLayoutAlign="center center">
      <ng-container *ngTemplateOutlet="piechart; context:{ruleType: 'ALLOW', data:chartData}">
      </ng-container>
    </div>

    <!-- rule details -->
    <div class="toprulescard-rule-details" fxLayout="column">
      <ng-container *ngTemplateOutlet="!clickMode?ruleLegend:ruleDetail"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #piechart let-ruleType="ruleType" let-data="data">
  <p-chart #chart type="pie" [data]="chartData" width="200px" height="200px" [options]="options">
  </p-chart>
</ng-template>

<ng-template #ruleDetail>
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="1 0 auto" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="toprulescard-legend-colors"
             [ngStyle]="{'background-color': pieColors[indexMap[this.clickedElement._model.label]]}">
        </div>
        <div fxFlex="1 0 auto" class="toprulescard-rule-text" fxLayoutAlign="start center">Rule
          Hash: {{this.clickedElement._model.label}}</div>
      </div>
      <div fxFlex="1 0 auto" fxLayout="row">
        <div fxFlex="1 0 auto" class="toprulescard-rule-text" [innerHTML]="getRuleDetail()"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ruleLegend>
  <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="5px">
    <div class="toprulescard-legend-index" fxLayout="column">
      <div fxFlex="1 0 auto" fxLayoutAlign="start center">
        <div style="width: 15px; height: 15px"></div>
      </div>
      <ng-container *ngFor="let ix of [].constructor(10); let i = index">
        <div *ngIf="i < chartData.labels.length" fxFlex="1 0 auto" fxLayoutAlign="start center"
             (click)="this.rowClick(chartData.labels[i])">
          <div class="toprulescard-legend-colors toprulescard-clickable"
               [class.active]="chartData.labels[i]===highlightedRule"
               [ngStyle]="{'background-color': pieColors[i]}"></div>
        </div>
        <div *ngIf="i >= chartData.labels.length" fxFlex="1 0 auto" fxLayoutAlign="start center">
          <div fxFlex="1 0 auto" fxLayoutAlign="start center">
            <div style="width: 15px; height: 15px"></div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="toprulescard-legend-sip" fxLayout="column">
      <div fxFlex="1 0 auto" class="toprulescard-rule-title" fxLayoutAlign="start center">
        <span>Source IP</span>
      </div>
      <ng-container *ngFor="let ix of [].constructor(10); let i = index">
        <div *ngIf="i < chartData.labels.length" (click)="this.rowClick(chartData.labels[i])"
             class="toprulescard-rule-text toprulescard-clickable"
             [class.active]="chartData.labels[i]===highlightedRule" fxFlex="1 0 auto"
             fxLayoutAlign="start center">
          <span>{{ruleMap[chartData.labels[i]].rule["from-ip-addresses"].join(', ')}}</span>
        </div>
        <div *ngIf="i >= chartData.labels.length" class="toprulescard-rule-text" fxFlex="1 0 auto"
             fxLayoutAlign="start center">
          <span>&nbsp;</span>
        </div>
      </ng-container>
    </div>

    <div class="toprulescard-legend-dip" fxLayout="column">
      <div fxFlex="1 0 auto" class="toprulescard-rule-title" fxLayoutAlign="start center">
        <span>Dest IP</span>
      </div>
      <ng-container *ngFor="let ix of [].constructor(10); let i = index">
        <div *ngIf="i < chartData.labels.length" (click)="this.rowClick(chartData.labels[i])"
             class="toprulescard-rule-text toprulescard-clickable"
             [class.active]="chartData.labels[i]===highlightedRule" fxFlex="1 0 auto"
             fxLayoutAlign="start center">
          <span>{{ruleMap[chartData.labels[i]].rule["to-ip-addresses"].join(', ')}}</span>
        </div>
        <div *ngIf="i >= chartData.labels.length" class="toprulescard-rule-text" fxFlex="1 0 auto"
             fxLayoutAlign="start center">
          <span>&nbsp;</span>
        </div>
      </ng-container>
    </div>

    <div class="toprulescard-legend-protoports" fxLayout="column">
      <div fxFlex="1 0 auto" class="toprulescard-rule-title" fxLayoutAlign="start center">
        <span>Proto/Ports</span>
      </div>
      <ng-container *ngFor="let ix of [].constructor(10); let i = index">
        <div *ngIf="i < chartData.labels.length" (click)="this.rowClick(chartData.labels[i])"
             class="toprulescard-rule-text toprulescard-clickable"
             [class.active]="chartData.labels[i]===highlightedRule"
             fxLayoutAlign="start center" fxFlex="1 0 auto">
          <span>{{formatApp(ruleMap[chartData.labels[i]].rule)}}</span>
        </div>
        <div *ngIf="i >= chartData.labels.length" class="toprulescard-rule-text"
             fxLayoutAlign="start center" fxFlex="1 0 auto">
          <span>&nbsp;</span>
        </div>
      </ng-container>
    </div>
  </div>
</ng-template>
