<div fxFlex="auto" fxLayout="column" class="psm-form">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="row" class="psm-form-content newtechsupport-content">
      <div fxFlex="none" fxLayout="column" fxLayoutGap="15px">
        <div fxFlex="none" fxLayout="row" [formGroup]="newObject.$formGroup.get(['meta'])">
          <app-psmtextbox fxFlex="285px" label="Tech Support Request Name" formControlName="name">
          </app-psmtextbox>
        </div>
        <div fxFlex="none" fxLayout="row"
             [formGroup]="newObject.$formGroup.get(['spec', 'node-selector'])">
          <app-psmlistbox fxFlex="285px" [listStyle]="{'height':'100px'}" formControlName="names"
                          label="Nodes" [multiple]="true" [checkbox]="true" [options]="nodesOptions"
                          [showRequired]="isRequired()">
          </app-psmlistbox>
        </div>
        <div fxFlex="none" fxLayout="row"
             [formGroup]="newObject.$formGroup.get(['spec', 'node-selector'])">
          <app-psmpicklist fxFlex="600px" formControlName="dscNames" label="DS Cards"
                           [options]="naplesOptions" [optionItemTemplate]="dscOptionItemTemplate"
                           [listStyle]="{'height':'150px'}" filterBy="label,value" dragdrop="true"
                           sourceHeader="Available"
                           sourceFilterPlaceholder="Search by DSC ID or MAC address"
                           targetHeader="Selected"
                           targetFilterPlaceholder="Search by DSC ID or MAC address"
                           [showSourceControls]="false" [showTargetControls]="false"
                           [showRequired]="isRequired()">
          </app-psmpicklist>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #dscOptionItemTemplate let-naple>
  <div class="newtechsupport-plist-item">
    <div class="newtechsupport-naple-label">{{naple.value}} </div>
    <div class="newtechsupport-naple-description">{{naple.label}} </div>
  </div>
</ng-template>
