<div fxFlex="auto" fxLayout="column" class="psm-form">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="row" class="psm-form-content">
      <div [formGroup]="newObject.$formGroup.get(['meta'])" class="export-logs-submit">
        <span [ngClass]="{
            'requiredField': isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))
          }">
          <input autocomplete="off"
                 appErrorTooltip formControlName="name"
                 class="newrollout-input-common"
                 matspellcheck="false" type="text" pInputText
                 appFloatLabel="Archive Request Name">
        </span>
        <div class="export-logs-checkbox-div">
          <p-checkbox name="specify-timerange" styleClass="export-logs-checkbox"
                      labelStyleClass="export-logs-checkbox-label" binary="true"
                      label="SPECIFY TIMERANGE"
                      [(ngModel)]="showTimerange" [ngModelOptions]="{standalone: true}">
          </p-checkbox>
        </div>
        <div class="export-logs-time-input" *ngIf="showTimerange">
          <app-timerange [startTime]="'now - M'" [showOverlay]=false
                         [selectedTimeRange]="archiveRequestTimeRange"
                         (timeRange)="getArchiveTimeRange($event)"></app-timerange>
        </div>
        <button class="export-logs-query-button" (click)="showArchiveQuery()">
          VIEW SEARCH QUERY
        </button>
        <p-dialog header="Archive Query" [(visible)]="displayQuery"
                  (onHide)="hideArchiveQuery()" [draggable]="false">
          <div class="export-logs-json">
            <pre>{{archiveQueryFormatted}}</pre>
          </div>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
