<app-pagebody [icon]="bodyicon" header="Distributed Services Cards Overview">
  <div fxFlex="none" fxLayout="column">
    <div fxFlex="none" *roleGuard="'metrics_read'" fxLayout="row wrap"
         fxLayoutGap="10px" class="naples-stats-charts-container">
      <div fxFlex="0 0 600px" *ngIf="hasAdmittedDSC" fxLayout="column"
           class="detail-card detail-card-wrapper naples-chart-container">
        <div class="detail-card-border"></div>
        <app-cpu-memory-storage-stats
                                      [heroCards]="heroCards" [lastUpdateTime]="lastUpdateTime">
        </app-cpu-memory-storage-stats>
        <div class="detail-card-border margin-top-auto"></div>
      </div>
      <div fxFlex="1 0 500px"
           *ngIf="hasAdmittedDSC && top10CardChartData && top10CardChartData.length > 0"
           class="detail-card detail-card-wrapper naples-chart-container" fxLayout="column">
        <div class="detail-card-border"></div>
        <div class="detail-card-header">
          <span class="lastupdateTime">Last Updated: {{ chartLastUpdateTime | PrettyDate}}</span>
        </div>
        <p-chart type="bar" [data]="top10CardChartData[0]" [options]="top10CardChartOptions[0]"
                 *ngIf="top10CardChartData[0]">
        </p-chart>
        <div class="detail-card-border"></div>
      </div>
      <div fxFlex="1 0 500px"
           *ngIf="hasAdmittedDSC && top10CardChartData && top10CardChartData.length > 1"
           class="detail-card detail-card-wrapper naples-chart-container" fxLayout="column">
        <div class="detail-card-border"></div>
        <div class="detail-card-header">
          <span class="lastupdateTime">Last Updated: {{ chartLastUpdateTime | PrettyDate}}</span>
        </div>
        <p-chart type="bar" [data]="top10CardChartData[1]" [options]="top10CardChartOptions[1]"
                 *ngIf="top10CardChartData[1]">
        </p-chart>
        <div class="detail-card-border"></div>
      </div>
    </div>
  </div>
  <app-pentable #dscTable
                [actionTemplate]="actionTemplate"
                [bodyTemplate]="bodyTemplate"
                [captionTemplate]="captionTemplate"
                [columns]="cols"
                [data]="dataObjects"
                [enableCheckbox]="true"
                [exportFilename]="exportFilename"
                [exportMap]="exportMap"
                [loading]="tableLoading"
                [rowHeight]="46"
                [searchable]="true"
                (searchCancelledEmitter)="onCancelSearch($event)"
                [searchCols]="advSearchCols"
                (searchEmitter)="onSearchDSCs()"
                [searchFormArray]="fieldFormArray"
                searchKind="DistributedServiceCard"
                [searchCustomQueryOptions]="customQueryOptions"
                [searchMultiSelectFields]="multiSelectFields">
  </app-pentable>
</app-pagebody>

<ng-template #actionButtonsTemplate>
  <div fxLayout="row" *ngIf="!tableLoading" class="dsc-actionbuttons">
    <div fxFlex="1 0 50%">
      <div *ngIf="dataObjects.length !== dataObjectsBackUp.length"
           class="dsc-table-header-title-append">
        <span matTooltip="Total DSCs">
          | System has ({{ dataObjectsBackUp.length }})
        </span>
      </div>
    </div>
    <div fxFlex="1 0 50%" fxLayoutAlign="start center"
         *roleGuard="'clusterdistributedservicecard_update'">
      <!-- LABEL EDITOR -->
      <mat-icon class="naples-add-label-button"
                *ngIf="this.dscTable.selectedDataObjects.length>0"
                [matTooltip]="'Add labels to selected DSC'"
                (click)="editLabels()">label</mat-icon>
      <app-labeleditor
                       [metadata]="labelEditorMetaData"
                       [inLabelEditMode]="inLabelEditMode"
                       (saveEmitter)="handleEditSave($event)"
                       (cancelEmitter)="handleEditCancel($event)"
                       [objects]="this.dscTable.selectedDataObjects"
                       [saveLabelsOperationDone]="saveLabelsOperationDone"
                       [nameKey]="'spec.id'">
      </app-labeleditor>
      <!-- DSC PROFILE EDITOR -->
      <ng-container *featureGuard="'enterprise'">
        <mat-icon class="naples-add-label-button"
                  *ngIf="this.dscTable.selectedDataObjects.length>0"
                  [matTooltip]="'Assign DSC profile to selected DSC'"
                  (click)="assignDSCProfile()">book</mat-icon>
      </ng-container>

      <app-dscprofilesetter [inEditMode]="inProfileAssigningMode"
                            [selections]="dscprofileOptions"
                            (saveEmitter)="handleSetDSCProfileSave($event)"
                            (cancelEmitter)="handleSetDSCProfileCancel($event)"
                            [saveDSCProfileOperationDone]="saveDSCProfileOperationDone">
      </app-dscprofilesetter>

    </div>
  </div>
</ng-template>

<ng-template #captionTemplate let-count="count">
  <div class="dsc-table-caption" fxLayout="row" style="border-bottom: 1px solid #d9d9d9;">
    <app-tableheader fxFlex="auto" fxLayout="row" title="Distributed Services Cards"
                     [total]="count"
                     [tableMenuItems]="this.dscTable.tableMenuItems"
                     [icon]="naplesIcon" [enableColumnSelect]="true"
                     [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
      <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
    </app-tableheader>
  </div>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col" let-hovered="hovered">
  <ng-container>
    <ng-container [ngSwitch]="col.field">
      <ng-container *ngSwitchCase="'spec.id'">
        <div class="ellipsisText" title="{{rowData.spec.id}}">
          <a routerLink="./{{rowData.meta.name}}">{{rowData.spec.id}}</a>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'meta.mod-time'">
        {{rowData.meta['mod-time'] | PrettyDate }}
      </ng-container>

      <ng-container *ngSwitchCase="'meta.creation-time'">
        {{rowData.meta['creation-time'] | PrettyDate }}
      </ng-container>
      <ng-container *ngSwitchCase="'status.host'">
        <div class="ellipsisText" title="{{ getHostFullName(rowData.status.host) }}">
          <a routerLink="/cluster/hosts"
             [queryParams]="{filter: rowData.status.host}">{{getHostFullName(rowData.status.host)}}</a>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'status.admission-phase'">
        <div
             [matTooltip]="rowData.status['admission-phase'] === 'REJECTED' || rowData.status['admission-phase'] === 'PENDING' ?  rowData.status['adm-phase-reason'] : ''">
          {{displayColumn(rowData, col)}}
        </div>
        <mat-icon *ngIf="rowData.status['admission-phase'] === 'REJECTED'" fxFlex="nogrow"
                  [inline]="true"
                  class="global-alert-warning-icon naples-row-icon">error</mat-icon>
        <mat-icon *ngIf="rowData.status['admission-phase'] === 'PENDING'" fxFlex="nogrow"
                  [inline]="true"
                  class="global-alert-info-icon naples-row-icon">notifications</mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="'meta.labels'">
        {{formatLabels(rowData.meta.labels)}}
      </ng-container>
      <ng-container *ngSwitchCase="'spec.dscprofile'">
        <a [routerLink]="['/cluster/dscprofiles']"
           [queryParams]="{ dscprofile: rowData.spec.dscprofile  }">{{ rowData.spec.dscprofile }}</a>
      </ng-container>
      <ng-container *ngSwitchCase="'status.conditions'">
        <div>
          <mat-icon *ngIf="isNICHealthy(rowData)" fxFlex="nogrow"
                    class="naples-status-icon naples-status-green-icon" [inline]="true"
                    matTooltip="Healthy">verified_user</mat-icon>
          <mat-icon *ngIf="isNICUnhealthy(rowData)" fxFlex="nogrow" [inline]="true"
                    class="naples-status-icon global-alert-critical-icon"
                    [matTooltip]="'Health: Unhealthy. ' + displayReasons(rowData)">error</mat-icon>
          <mat-icon *ngIf="isNICHealthUnknown(rowData)" fxFlex="nogrow"
                    class="naples-status-icon global-alert-warning-icon" [inline]="true"
                    [matTooltip]="'Health: Unknown. ' + displayReasons(rowData)">battery_unknown
          </mat-icon>
          <mat-icon *ngIf="isNicNeedReboot(rowData)" fxFlex="nogrow" class="naples-status-icon"
                    [inline]="true"
                    matTooltip="Reboot Needed">settings_power</mat-icon>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'workloads'">
        <app-workloadscolumn *ngIf="hasWorkloads(rowData)"
                             [workloads]="rowData._ui.associatedWorkloads" [hovered]="hovered"
                             [filterValue]="rowData.meta.name" [numOfRows]="8"
                             linkTooltip="Show all workloads on this DSC in the Workload page">
        </app-workloadscolumn>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="ellipsisText" title="{{displayColumn(rowData, col)}}">
          {{displayColumn(rowData, col)}}
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div *roleGuard="'clusterdistributedservicecard_update'"
       class="global-column-action-icon-container naples-action-icon-container" fxLayout="row"
       fxLayoutGap="5px">
    <button mat-icon-button *ngIf="showAdmissionButton(rowData)">
      <mat-icon matTooltip="Admit Card" svgIcon="card_admit"
                class="global-table-action-icon naples-action-icon"
                (click)="onAdmitCard($event, rowData)"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="showDecommissionButton(rowData)">
      <mat-icon matTooltip="Decommision Card" svgIcon="card_decommision"
                class="global-table-action-icon naples-action-icon"
                (click)="onDecommissionCard($event, rowData)">
      </mat-icon>
    </button>
    <button mat-icon-button *ngIf="showDeleteButton(rowData)">
      <mat-icon matTooltip="Delete Card" *roleGuard="'clusterdistributedservicecard_delete'"
                class="global-table-action-icon"
                (click)="onDeleteRecord($event, rowData)">delete
      </mat-icon>

    </button>
  </div>
</ng-template>
