@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.naples-add-label-button {
  cursor: pointer;
  color: #676763;
}

.naples-card-container {
  margin-right: 10px;
}

.naples-stats-charts-container {
  margin: 10px 10px 0px 10px;

  .lastupdateTime {
    @include primary-font(12px, $mediumGray, 300);
  }

  .naples-chart-container {
    width: 100%;
    min-width: 500px;
    max-width: 750px;
    margin: 0px 0px 10px 0px;

    app-cpu-memory-storage-stats,
    p-chart {
      height: 100%;
    }
  }
}

.naples-chart-container {
  margin: 10px 20px;
  width: 680px;
}

.naples-card-workloads-container {
  border: 1px solid black;
  margin: 20px;
  min-width: 450px;
  box-shadow: rgb(181, 146, 227) 0px 0px 3px 0px;
  border: 1px solid rgb(206, 197, 189);

  .naples-card-workloads-title {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
  }

  .naples-card-workloads-table {
    margin: 10px;
    max-height: 640px;
    overflow: auto;

    td {
      vertical-align: top;

      .naples-workloads-cell {
        font-size: 12px;
        width: 100%;
      }
    }
  }

}

.naples-table-container {
  min-height: 600px;
}

.naples-table-container .ui-table-scrollable-body {
  overflow-x: hidden;
}

.naples-row-icon {
  margin-left: 10px;
}

.naples-bad-indicator-icon {
  margin-left: 5px;
}

.naples-table-advsearch {
  text-align: left;
}


.naples-workloads-div {
  display: inline-block;
  margin: 0px 5px;
}

.naples-action-icon-container {
  right: 10px !important;

  .naples-action-icon {
    padding-top: 0px !important;
    position: relative;
    top: -5px;

    svg {
      position: relative;
      left: -2px;
    }
  }
}

.naples-status-icon {
  font-size: 20px !important;
  margin-right: 5px;
}

.naples-status-green-icon {
  color: #77a746;
}

.naples-table-caption .tableheader-title-container {
  flex: 0 0 auto !important;
}

.naples-table-header-title-append {
  @include primary-font(20px, #484848);
  margin-right: 5px;
  text-align: left;
  white-space: nowrap;
}

.naples-actionbuttons {
  width: 100%;
}

#new-chartjs-tooltip {
  opacity: 1;
  z-index: 100000;
  position: absolute;
  background: #fff;
  color: #000;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid rgb(107, 160, 229);
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  pointer-events: none;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.naples-controlpanelstatus-one-peers-div a {
  cursor: pointer;
}

.naples-controlpanelstatus-all-peers-div {
  cursor: pointer;
}

.naples-card-table {
  border: 1px solid #cec5bd;

  .ui-table-caption {
    border: none;
  }
}
