<div fxFlex="auto" fxLayout="column" class="psm-form new-host-container">
  <app-inlinebuttons class="new-host" *ngIf="isInline" [form]="this">
  </app-inlinebuttons>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start"
       [class]="isInline? 'new-host-editform-inline' : ''">
    <div fxLayout="row" fxLayoutAlign="center" class="psm-form-content">
      <ng-container *ngTemplateOutlet="singleMode"></ng-container>
    </div>
  </div>
</div>

<ng-template #singleMode>
  <div fxFlex fxLayout="column" [formGroup]="newObject.$formGroup">
    <div fxFlex="none" fxLayout="row" formGroupName="meta">
      <app-psmtextbox fxFlex="250px" label="Name" formControlName="name">
      </app-psmtextbox>
    </div>
    <div fxFlex="5px"></div>
    <div fxFlex="none" fxLayout="row">
      <app-fieldcontainer fxFlex="490px" fieldTitle="DS Cards">
        <app-listcontainer [formGroup]="newObject.$formGroup.get(['spec', 'dscs'])"
                           [itemTemplate]="dscRowTemplate" addText="DS Card" [maxiumCount]="2"
                           [isInline]="isInline" [showDeleteButton]="isShowDeleteButton.bind(this)"
                           (addItem)="addDSC()" (deleteItem)="removeDSC($event)">
        </app-listcontainer>
      </app-fieldcontainer>
    </div>
  </div>
</ng-template>

<ng-template #dscRowTemplate let-dsc="item" let-index="index">
  <div fxLayout="row" [formGroup]="dsc" fxLayoutAlign="start start">
    <app-psmradiobuttons fxFlex="200px" formControlName="addDscType"
                         [options]="addNICoptions" label="Add DSC By">
    </app-psmradiobuttons>
    <app-psmautocomplete fxFlex="250px" *ngIf="dsc.get('addDscType').value==='id'"
                         [showRequired]="true" formControlName="id" label="DSC ID" [autoTrim]="true"
                         [suggestions]="idSuggestions" [completeMethod]="searchDscIDs.bind(this)">
    </app-psmautocomplete>
    <app-psmautocomplete fxFlex="250px" *ngIf="dsc.get('addDscType').value==='mac-address'"
                         [showRequired]="true" formControlName="mac-address" label="DSC MAC Address"
                         [autoTrim]="true"
                         [suggestions]="macSuggestions" [completeMethod]="searchDscMACs.bind(this)">
    </app-psmautocomplete>
    <div fxFlex="5px"></div>
  </div>
</ng-template>

<ng-template #multiAddMode>
  <div fxFlex class="naples-table-container">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
</ng-template>

<ng-template #DataTable>
  <app-tableviewedit fxLayout="column" class="newhost-batchadd-table"
                     [data]="naplesWithoutHosts"
                     [cols]="cols"
                     [virtualRowHeight]="48"
                     [bodyTemplate]="bodyTemplate">
  </app-tableviewedit>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.name'">
      {{rowData["spec"]["id"]}}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.mac-address'">
      {{rowData["status"]["primary-mac"]}}
    </ng-container>
    <ng-container *ngSwitchDefault>
      <!-- [formGroup]="rowData[1].$formGroup" formGroupName="meta" formControlName="name" -->
      <div fxFlex="none" fxLayoutAlign="start start">
        <div [formGroup]="getFormGroup(rowData)">
          <div formGroupName="meta">
            <span [ngClass]="{
                      'newhost-general-box': true,
                      'requiredField': isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))
                    }">
              <input autocomplete="off" fxFlex="nogrow" formControlName="name" appErrorTooltip
                     class="newhost-name"
                     matspellcheck="false"
                     appFloatLabel="Unique Host Name..." type="text" pInputText>
            </span>

          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>
