<div fxLayout="row" fxLayoutAlign="start end">
  <div [class]="getIconSpanClasses()">*</div>
  <div [class]="getSpanClasses()">
    <p-dropdown [id]="boxId" appendTo="body" [class]="getComponentClass()"
                [options]="allOptions" [disabled]="disabled" [matTooltip]="getTooltip()"
                [matTooltipClass]="currentTooltipClass"
                [(ngModel)]="innerValue" (onBlur)="onBoxBlur($event)"
                (onFocus)="onBoxFocus($event)" (click)="onBoxClick($event)"
                (ngModelChange)="onInnerCtrlChange()">
      <ng-template let-item pTemplate="item">
        <div *ngIf="item.value" class="psm-form-select-box-dropdown-row">
          <div class="psm-form-select-box-dropdown-label">{{formatOptionLabel(item)}}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <label *ngIf="label" [for]="boxId">{{ label }}</label>
  </div>
  <mat-icon *ngIf="supportClear" class="psm-form-select-delIcon" (click)="resetValue()">cancel
  </mat-icon>
</div>
