.psm-form {
  .psm-form-select-box-container {
    width: calc(100% - 30px);

    .psm-form-select-box {
      display: block;
      width: calc(100% + 20px);
      height: 30px;
    }
  }

  .psm-form-select-delIcon {
    visibility: hidden;
    position: relative;
    left: -20px;
    font-size: 16px;
    font-size: 16px;
    width: 20px;
    cursor: pointer;
  }

  .psm-form-select-delIcon:hover,
  .psm-form-select-box-container:hover+.psm-form-select-delIcon {
    visibility: visible;
  }
}

.pensando-ui {
  .ng-trigger.ui-dropdown-panel {
    margin-top: 5px;
    margin-left: 2px;
    border: 1px solid #d6d6d6 !important;
    z-index: 1000;

    li:empty {
      border-left: 5px transparent solid !important;
    }

    .psm-form-select-box-dropdown-row {
      height: 22px;

      .psm-form-select-box-dropdown-label {
        font-size: 14px;
        margin-top: 2px;
      }
    }
  }
}
