@import 'src/global-mixins';

.naplesdetail-interface-charts-container .naplesdetail-interface-container .naplesdetail-interface-detail-container {
  position: relative;
  top: -20px;
  height: 345px;
  width: 190px;

  .naplesdetail-interface-detail-icon {
    width: 23px;
    height: 13px;
    opacity: 0.6;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
  }

  .naplesdetail-interface-detail-uplink-icon {
    background: url("/assets/images/icons/ico-ip.svg") center center no-repeat;
    background-size: contain;
  }

  .naplesdetail-interface-detail-lldpicon {
    background: url("/assets/images/icons/ico-lldp.svg") center center no-repeat;
    background-size: contain;
  }

  .naplesdetail-interface-detail-status-icon {
    background: url("/assets/images/icons/ico-status.svg") center center no-repeat;
    background-size: contain;
  }

  .naplesdetail-interface-detail-openicon {
    background: url("/assets/images/icons/icon-expand-menu.svg") center center no-repeat;
    background-size: contain;
  }

  .naplesdetail-interface-detail-btn {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    z-index: 1;
    filter: invert(16%) sepia(90%) saturate(3015%) hue-rotate(215deg) brightness(83%) contrast(95%);

    .naplesdetail-interface-detail-icon {
      width: 25px;
      height: 25px;
    }
  }

  .naplesdetail-interface-detail-btn:focus {
    outline: 0px auto transparent;
  }

  .naplesdetail-interface-detail-btn:hover {
    filter: invert(22%) sepia(7%) saturate(224%) hue-rotate(182deg) brightness(94%) contrast(87%);
  }

  .naplesdetail-interface-detail-btn.active {
    filter: none;

  }

  .naplesdetail-interface-detail {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/misc/gray-gradient-bg.svg");

    .naplesdetail-interface-detail-titlebar {
      width: 100%;
      height: 1px;
      background-image: linear-gradient(to left, rgba(103, 103, 99, 1) 100%, rgba(160, 160, 156, 0.3) 47%, );
    }

    .naplesdetail-interface-detail-portName {
      @include primary-font(18px, $mediumGray, 300);
      margin-bottom: 1px;
      margin-left: 1px;
    }

    .naplesdetail-interface-detail-statsrow {
      width: 100%;
      opacity: 1;

      .naplesdetail-interface-detail-statsrow-shortLabel,
      .naplesdetail-interface-detail-statsrow-longLabel,
      .naplesdetail-interface-detail-statsrow-shortLabel2,
      .naplesdetail-interface-detail-statsrow-longLabel2,
      .naplesdetail-interface-detail-statsrow-label {
        padding-left: 5px;
        font-size: 16px;
        font-weight: 300;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgb(103, 103, 99);
      }

      .naplesdetail-interface-detail-statsrow-shortLabel {
        width: 40px;
      }

      .naplesdetail-interface-detail-statsrow-longLabel {
        padding-left: 0px !important;
        width: 70px;
      }

      .naplesdetail-interface-detail-statsrow-label {
        width: 110px;
      }

      .naplesdetail-interface-detail-statsrow-subvalue,
      .naplesdetail-interface-detail-statsrow-value {
        font-weight: normal;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6ba0e5;
      }

      .naplesdetail-interface-detail-statsrow-value {
        font-size: 16px;
      }

      .naplesdetail-interface-detail-statsrow-subvalue {
        font-size: 12px;
      }
    }

    .naplesdetail-interface-detail-uplinkrow {
      width: 100%;
      opacity: 1;
      padding-bottom: 3px;
      padding-left: 3px;


      .naplesdetail-interface-detail-uplinkrow-label {
        width: 85px;
        padding-left: 5px;
        font-size: 14px;
        font-weight: 300;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgb(103, 103, 99);
      }

      .naplesdetail-interface-detail-uplinkrow-value {
        font-weight: normal;
        font-stretch: condensed;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #6ba0e5;
        font-size: 14px;
        width: 93px;
      }
    }
  }
}
